<style type="text/css">
	table td{
		padding: 10px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){

		$('#linea').bind('change', cargarEstilos);
		$('#linea').change();
		$('#estilo').bind('change', cargarFoto);
		$('#formArchivo').on('submit', verificarDatos);
		var urlHandler = new url_handler();
		urlHandler.initialize();
		if(urlHandler.isKey('linea') && urlHandler.isKey('estilo')){
			var l = urlHandler.getValue('linea');
			var e = urlHandler.getValue('estilo');
			$("#linea option[value="+ l +"]").attr("selected",true);
			$('#linea').change();
		}
	});

	function verificarDatos(){
		var linea  = $('#linea').val();
		var estilo = $('#estilo').val();

		if((linea== null) || (estilo== null)){
			alert("No se puede actualizar");
			return false;
		}
	}
	
	
	function imagenPorDefecto(e){
		$(e.target).attr('src', '../static/img/no_disponible.gif');
	}


	function cargarEstilos(){
		var uri  = "/{systemModuleName}/inventario/obtenerEstilos";
		var data = { "linea": $('#linea').val() };

		$.post(uri, data, function(resp){
			$('#estilo option').remove();
			for(var i = 0; i < resp.length; i++){
				$('#estilo').append('<option value="'+resp[i].estilo+'">'+resp[i].estilo+'</option>');
			}
			var urlHandler = new url_handler();
			urlHandler.initialize();
			if(urlHandler.isKey('estilo')){
				$("#estilo option[value="+ urlHandler.getValue('estilo') +"]").attr("selected",true);
			}
			$('#estilo').change();
		}, "json");
	}

	function cargarFoto(){
		var linea  = $('#linea').val();
		var estilo = $('#estilo').val();
		$('#ilinea').val(linea);
		$('#iestilo').val(estilo);
		$('#foto').html("");
		$('#foto').append('<img style="width: 400px; border: solid 1px #d3d3d3; padding: 10px;" onerror="imagenPorDefecto(event);" src="../static/img/productos/thumbnail_'+linea+'_'+estilo+'.jpg" alt="Sin asignar"/>')
	}
</script>
<h3>Actualizar la imagen del producto</h3>
<p class="text-muted">Puede mostrar a sus clientes como son sus productos por medio de imágenes</p>
<hr/>
<div class="grid">
	<div class="row">
		<div class="panel span5">
					<div class="panel-header">
						Selección del producto
					</div>
					<div class="panel-content">
						Seleccione una linea
						<div class="input-control select">
							<select id="linea">
								<!-- START lineas -->
								<option value="{id}">{nombre}</option>
								<!-- END lineas -->
							</select>
						</div>
						<div class="input-control select">
							Seleccione un estilo
							<select id="estilo">
								
							</select>
						</div>
						<br/>
						<br/>
					</div>
		</div>		
		<div class="panel span5">
					<div class="panel-header">
						Seleccione una nueva foto
					</div>
					<div class="panel-content">
						<br/>
						<form id="formArchivo" enctype="multipart/form-data" action="/{systemModuleName}/inventario/actualizarFotoProducto" method="post">
						    <div class="input-control file">
						    	<input type="file" name="archivo" />
						    	<button class="btn-file"></button>
						    </div>
							<input type="hidden" id="ilinea" name="linea"/>
							<input type="hidden" id="iestilo" name="estilo"/>
							<br/>
							<br/>
							<input type="submit" value="Guardar" />
						</form>	
	 		</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span5">
			<div class="panel-header">
				Imagen actual
			</div>
			<div class="panel-content">
				<div id="foto">
				</div>
			</div>
		</div>
	</div>
</div>


