<script>
    function update(event) {
        var estado = confirm("Esta seguro?");
        if (estado) {
            $('#black_screen').css('display', 'block');
            var url = "/nymsa/inventario/actualizar_productos";
            var doc = {documento};
            var ajax = $.post(url, {documento: doc});
            ajax.done(function(data) {
                $('#black_screen').css('display', 'none');
                location.href = '/nymsa/inventario/nuevo_producto';
            });
        }
    }
</script>

<div class="page-region-content tiles">
    <div class="tile bg-color-black icon" onclick="update(event);" data-param-period="6000" data-role="tile-slider" data-param-direction="left">
        <div id="load" class="tile-content">
            <i class="icon-upload"></i>
        </div>
        <div class="tile-content" style="padding:10px;">
            <p>
                Actualizar todos los cambios temporales a la base de datos principal
                de manera permanente.
            </p>
        </div>
        <div class="brand">
            <span class="name">
                Salvar documento
            </span>
        </div>
    </div>
</div>