<script type="text/javascript" >

    var bodega_grid = "bodega_grid";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'nombre'},
            {name: 'nombre_cli'},
            {name: 'descripcion'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'serialnumber', header: "Código", width: 60},
        {id: 'nombre', header: "Nombre", width: 250},
        {id: 'encargado', header: "Encargado", width: 80},
        {id: 'descripcion', header: "Descripcion", width: 180},
        {id: 'tiene_stock', header: "Stock", width: 57}

    ];


    var gridOption = {
        id: bodega_grid,
        loadURL: '/inventario/inventario/ObtenerBodegas',
        saveURL: '',
        width: "630", //"100%", // 700,
        height: "380", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        allowCustomSkin: true,
        skin: 'mac',
        clickStartEdit: false,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 100,
        toolbarContent: 'reload | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);

    Sigma.Util.onLoad(function () {
        mygrid.render();
    });

</script>
<style>
    #n_bodega  input, #n_bodega  textarea{
        margin-bottom: 5px;
    }
</style>
<div id="page-container" ng-controller="BodegaController as vm">
    <div id="content">
        <div class="grid fuild">
            <div class="row">
                <div class="panel span5" data-role="panel">
                    <div class="panel-header">Crear bodega</div>
                    <div class="panel-content">
                        <form action="" method="post" style="float: left;">
                            <div>
                                <p>
                                    <input type="checkbox" ng-model="vm.bodega.manejaStock" />
                                    Maneja stock
                                </p>
                            </div>
                            <br/>
                            <div class="input-control text"> 
                                <p><span class="fg-red">*</span> Nombre</p>
                                <input type="text" style="width:300px;" ng-model="vm.bodega.nombre"/>
                            </div> 
                            <br/>
                            <br/> 
                            <div class="input-control select">
                                <p>Encargado</p>
                                <select style="width:300px;" ng-model="vm.bodega.encargado">
                                    <option ng-repeat="empleado in vm.listaDeEmpleados" value="{{empleado.id}}">
                                        {{empleado.usuario}}
                                    </option>
                                </select>
                            </div>
                            <br/>
                            <br/>
                            <div class="input-control textarea">
                                <p><span class="fg-red">*</span> Descripción</p>
                                <textarea style="width:300px;" ng-model="vm.bodega.descripcion"></textarea>
                            </div>
                            <br/>
                            <br/>
                            <button type="button" class="info" ng-click="vm.GuardarBodega();">Guardar</button>
                            <br /><br />
                        </form>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="panel span9" data-role="panel">
                    <div class="panel-header">Bodegas</div>
                    <div class="panel-content">
                        <div id="bigbox" style="margin:15px;display:!none;margin:0 auto;left:0px;right:0px;">
                            <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;margin:0 auto;left:0px;right:0px;" >
            
                            </div>
                        </div>
                        <p>
                            <br/>
                            <br/>
                        </p>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>