<script>

    var stock_grid = "stock_grid";
    var producto_grid = "producto_grid";

    function precio_format(value, record, columnObj, grid, colNo, rowNo) {
        return '$' + record['precio'];
    }

    function costo_format(value, record, columnObj, grid, colNo, rowNo) {
        return '$' + record['costo'];
    }

    var dsOptionStock = {
        fields: [
            {name: 'control_estilo'},
            {name: 'color'},
            {name: 'talla'},
            {name: 'linea'},
            {name: 'fecha_ingreso'}
        ],
        recordType: 'object'
    }

    var dsOptionProducto = {
        fields: [
            {name: 'estilo'},
            {name: 'linea'},
            {name: 'codigo_origen'},
            {name: 'descripcion'},
            {name: 'catalogo'},
            {name: 'n_pagina'},
            {name: 'genero'},
            {name: 'marca'},
            {name: 'propiedad'},
            {name: 'observacion'},
            {name: 'fecha_ingreso'},
            {name: 'nota'}
        ],
        uniqueField: 1,
        recordType: 'object'
    }

    var colsOptionStock = [
        {id: 'linea', header: "Linea", width: 90},
        {id: 'control_estilo', header: "Estilo", width: 90},
        {id: 'color', header: "Color", width: 90},
        {id: 'talla', header: "Talla", width: 90},
        {id: 'precio', header: "Precio", width: 95, renderer: precio_format},
        {id: 'costo', header: "Costo", width: 95, renderer: costo_format}
    ];

    var colsOptionProducto = [
        {id: 'linea', header: "Línea", width: 70},
        {id: 'estilo', header: "Estilo", width: 90},
        {id: 'descripcion', header: "Descripción", width: 210},
        {id: 'catalogo', header: "Catálogo", width: 100},
        {id: 'n_pagina', header: "N. Pagina", width: 90}
    ];

    var gridOptionStock = {
        id: stock_grid,
        loadURL: '',
        saveURL: '',
        width: "100%", 
        height: "280", 
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', 
        dataset: dsOptionStock,
        columns: colsOptionStock,
        allowCustomSkin: true,
        skin: 'mac',
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload filter nav state'
    };

    var gridOptionProducto = {
        id: producto_grid,
        loadURL: '',
        saveURL: '',
        width: "100%", 
        height: "280", 
        container: 'gridbox2',
        replaceContainer: true,
        encoding: 'UTF-8',
        dataset: dsOptionProducto,
        columns: colsOptionProducto,
        clickStartEdit: true,
        allowCustomSkin: true,
        skin: 'mac',
        defaultRecord: {'id': "00"},
        pageSize: 10,
        toolbarContent: 'filter | nav state'
    };


    var StockGrid = new Sigma.Grid(gridOptionStock);

    Sigma.Util.onLoad(function () {
        StockGrid.render();
    });

    var ProductoGrid = new Sigma.Grid(gridOptionProducto);

    Sigma.Util.onLoad(function () {
        ProductoGrid.render();
    });

</script>
<div class="grid" ng-controller="DocumentoController as vm ">
    <div class="row">
        <div class="panel span8">
            <div class="panel-header">
                <i class="icon-filter"></i> Filtrar productos
            </div>
            <div class="panel-content">
                <br />
                <label>Datos del producto</label>
                <div class="input-control text"> 
                    <input type="text" placeholder="Linea" ng-model="vm.Producto.linea"/>
                </div>
  
                <div class="input-control text">
                    <input type="text" placeholder="Estilo" ng-model="vm.Producto.estilo"/>
                </div>

                <div class="input-control text">        
                    <input type="text" placeholder="Color" ng-model="vm.Producto.color"/>
                </div>

                <label>Corrida</label>
                <div class="input-control text ">
                    <input type="text" placeholder="Desde" ng-model="vm.Producto.tallaInferior"/>  
                </div>

                <div class="input-control text ">
                    <input type="text" placeholder="Hasta" ng-model="vm.Producto.tallaSuperior"/>
                </div> 

                <p style="text-align:right;">
                    <br/>
                    <button class="primary" ng-click="vm.BuscarProductos();">Buscar</button>
                </p>
            </div>
        </div>
        <div class="panel span8">
            <div class="panel-header">
                <i class="icon-cycle"></i> Actualizar datos
            </div>
            <div class="panel-content">
                <div style="display: table; text-align:right;">
                    <form style="float:left;">
                        <table style="width:200px;" class="table bordered" >
                            <caption>
                                <p>
                                    Datos anteriores
                                </p>
                            </caption>
                            <tr>
                                <td colspan="2"> 
                                    <div class="input-control text">
                                        <input type="text" placeholder="Precio actual" readonly ng-model="vm.DatosActuales.precio"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"> 
                                    <div class="input-control text">
                                        <input type="text" placeholder="Catálogo actual" readonly ng-model="vm.DatosActuales.catalogo"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"> 
                                    <div class="input-control text">
                                        <input type="text" placeholder="Página de catálogo" readonly ng-model="vm.DatosActuales.n_pagina"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="input-control select"> 
                                        <select disabled="disabled" ng-model="vm.DatosActuales.propiedad">
                                            <option value="1">Liquidacion</option>
                                            <option value="2">Comprado</option>
                                            <option value="3">Consignacion</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form style="float:left;">
                        <table style="width:350px;" class="table bordered">
                            <caption>
                                <p>
                                    Datos nuevos
                                </p>
                            </caption>
                            <tr>
                                <td> 
                                    <div class="input-control text">
                                        <input type="text" placeholder="Nuevo precio" ng-model="vm.DatosNuevos.precio"/>
                                    </div>
                                </td>
                                <td>
                                    Modificar? 
                                    <input type="checkbox" ng-model="vm.Modificar.precio"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-control select"> 
                                        <select style="padding: 7.5px;" ng-model="vm.DatosNuevos.catalogo">
                                            <option ng-repeat="catalogo in vm.ListaDeCatalogos" value="{{catalogo.id}}">
                                                {{catalogo.nombre}} (ID:{{catalogo.id}})
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    Modificar?
                                    <input type="checkbox" ng-model="vm.Modificar.catalogo"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-control text"> 
                                        <input type="text" placeholder="Nueva página de catálogo" ng-model="vm.DatosNuevos.n_pagina"/>
                                    </div>
                                </td>
                                <td>
                                    Modificar?
                                    <input type="checkbox" ng-model="vm.Modificar.n_pagina"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-control select"> 
                                        <select ng-model="vm.DatosNuevos.propiedad">
                                            <option value="1">Liquidacion</option>
                                            <option value="2">Comprado</option>
                                            <option value="3">Consignacion</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    Modificar?
                                    <input type="checkbox" ng-model="vm.Modificar.propiedad"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <p style="text-align:right;">
                        <button class="primary" ng-click="vm.AplicarCambios();">Guardar cambios</button>
                    </p>
                </div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="panel span8">
            <div class="panel-header">
                <i class="icon-database"></i> Productos
            </div>
            <div class="panel-content">
                <div id="bigbox2" style="margin:15px;display:!none;">
                    <div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                    </div>
                </div>
            </div>
        </div> 
        <div class="panel span8">
            <div class="panel-header">
                <i class="icon-list"></i> Detalle
            </div>
            <div class="panel-content">
                <div id="bigbox" style="margin:15px;display:!none;">
                    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>