<script>
    var grid_catalogo_id = "catalogo_grid";

    var dsOption_catalogo = {
        fields: [
            { name: 'id' },
            { name: 'descripcion' },
            { name: 'inicio' },
            { name: 'final' },
            { name: 'nombre' }
        ],
        recordType: 'object'
    };

    var colsOption_catalogo = [
        { id: 'id', header: "Id", width: 50 },
        { id: 'nombre', header: "Nombre", width: 150 },
        { id: 'descripcion', header: "Descripcion", width: 220 },
        { id: 'inicio', header: "Fecha de inicio", width: 100 },
        { id: 'final', header: "Fecha de final", width: 100 },
        { id: 'imagen', header: "Ver imagen", width: 100, renderer: VerImagenRender }

    ];

    var gridOption_catalogo = {
        id: grid_catalogo_id,
        loadURL: '/inventario/inventario/ObtenerCatalogos',
        saveURL: '',
        width: "730", //"100%", // 700,
        height: "360", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(),
        dataset: dsOption_catalogo,
        columns: colsOption_catalogo,
        clickStartEdit: true,
        defaultRecord: { 'id': "00", 'nombre': "" },
        pageSize: 100,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption_catalogo);
    Sigma.Util.onLoad(function () {
        mygrid.render();
    });

    function parseDate(String_) {
        var date = String_.split('-');
        return date[2] + "." + date[1] + "." + date[0];
    }

    function VerImagenRender(value, record, columnObj, grid, colNo, rowNo) {
        var id = record['id'];
        return '<a href="javascript: void(0);" onclick="VerImagen('+id+');"> Ver imagen</a>';
    }

    function VerImagen(id) {
        $('#ImagenCatalogo').attr("src", "../static/img/catalogo/thumbnail_" + id + ".jpg");
        $('#ImagenCatalogoLayer').css("display", "block");
    }

    function CerrarVentanaCatalogo() {
        $('#ImagenCatalogoLayer').css("display", "none");
    }


</script>
<style type="text/css">
    #ft * {
        margin-bottom: 10px;
    }
</style>
<section ng-controller="CatalogoController as vm">



    <div style="display:table;">
        <div class="panel span5" style="float:left;">
            <div class="panel-header">
                Registrar catálogo
            </div>
            <div class="panel-content">
                
                <form action="/inventario/inventario/salvarCatalogo" method="post" enctype="multipart/form-data">
                    <div class="input-control text">
                        <span class="fg-red">*</span> Nombre:
                        <input type="text" required name="nombre" />
                    </div>
                    <br />
                    <br />
                    <span class="fg-red">*</span> Descripción:
                    <div class="input-control textarea">
                        <textarea name="descripcion" required></textarea>
                    </div>
                    <span class="fg-red">*</span>
                    Fecha de inicio:
                    <div id="picker2" class="input-control text" data-role="datepicker">
                        <input type="text" name="inicio" required />
                        <button type="button" class="btn-date"></button>
                    </div>
                    <br />
                    <span class="fg-red">*</span>
                    Fecha de finalización:
                    <div id="picker3" class="input-control text" data-role="datepicker">
                        <input type="text" name="final" required />
                        <button type="button" class="btn-date"></button>
                    </div>
                    <br />
                    <br />
                    <div class="input-control">
                        <input type="file" name="archivo" />
                    </div>
                    <br />
                    <div style="text-align: right;">
                        <button type="submit" class="primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel span10" style="float:left;margin-left:80px;min-height: 300px;">
            <div class="panel-header">
                Catálogos registrados
            </div>
            <div class="panel-content">
                <div id="bigbox" style="margin:15px;display:!none;">
                    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">
                    </div>
                    <p>
                        <br /><br />
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<div id="ImagenCatalogoLayer" style="background: #ffffff;width: 600px; min-height: 300px; position: fixed;top: 100px; left: 50%;;margin-left: -300px;z-index: 100001; padding: 30px;border: solid 1px; #d3d3d3;display: none;">
    <img style="width: 500px;height:auto;margin: 0 auto;" id="ImagenCatalogo" src="" />
    <div style="text-align: right;">
        <br/><br />
        <a href="javascript: void(0);" onclick="CerrarVentanaCatalogo();">[X] Cerrar ventana</a>
    </div>
</div>