<h3>
    No se ha creado una hoja de comparacion para el período <strong>{periodo_actual}</strong> en el mes 
    correspondiente. ¿Desea crear una? 
</h3> 
<p>
    Tome en cuenta que estas hojas no pueden borrarse por motivos de control, debe estar seguro de 
    lo que está haciendo.
</p>
<br/>
<button class="primary" onclick="location.href = '/nymsa/inventario/comparativo_fisico_teorico?new=true'" >Si, deseo crearla</button>
<button onclick="location.href = '{back_url}'">No gracias, volveré luego</button>