<div style="padding-left:40px;">
    <h3 class="nav-bar fg-color-white" style="padding:10px;">
        Control de Inventario (Interfaz de documentos)
        - Registrado como {usuario}
        <strong>- Documento actual: {documento}</strong>
    </h3>
    <ul style="margin-top:30px;">
        <li>
            <a href="/nymsa/inventario/doc_productos?documento={documento}">
                Productos
            </a>
        </li>
        <li>
            <a href="/nymsa/inventario/administrar?documento={documento}">
                Administraci&oacute;n de documento
            </a>
        </li>
    </ul>
</div>
