<h3>
    Debe tomar en cuenta que si los documentos no se cierran antes de terminar el d&iacute;a
    ser&aacute;n borrados del sistema. 
</h3>
<table class="tbl_style" style="max-width:700px;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha de creaci&oacute;n
            </th>
            <th>
                Propietario
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <!-- START documentos -->
    <tr>
        <td>{id_documento}</td>
        <td>{fecha_creacion}</td>
        <td>{propietario}</td>
        <td>
            <a href="/nymsa/inventario/seleccion_documento?documento={id_documento}">
                <i class="icon-folder"></i> Abrir  
            </a> 
            |
            <a>
                <i class="icon-pencil"></i> Editar
            </a>
            |
            <a>
                <i class="icon-remove"></i> Eliminar
            </a>
        </td>
    </tr>
    <!-- END documentos -->
</table>