<script>

    var grid_demo_id = "documento";

    var dsOption = {

        fields :[
            {name : 'estilo'  },
        ],
        uniqueField: 1,
        recordType : 'object'
    }

  
    var colsOption = [
        { id: 'estilo', header: "Estilo", width: 80 },
        { id: 'codigo_origen', header: "Código de origen", width: 115 },
        { id: 'catalogo', header: "Catálogo", width: 65 },
        { id: 'n_pagina', header: "N. Página", width: 70 },
        { id: 'descripcion', header: "Descripción", width: 95 },
        { id: 'corrida_a', header: "Corrida - desde", width: 95 },
        { id: 'corrida_b', header: "Corrida - hasta", width: 95 },
        { id: 'fraccion_corrida', header: "Facción corrida", width: 95 },
        { id: 'observacion', header: "observación", width: 95 }
    ];



    var gridOption = {
        id: grid_demo_id,
        loadURL: '/inventario/inventario/ObtenerDocumentoDetalle/{documento}',
        saveURL: '',
        width: "810px",  //"100%", // 700,
        height: "260",  //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: { 'id': "00" },
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'nav state'
    };



var mygrid = new Sigma.Grid( gridOption );

Sigma.Util.onLoad(function(){
  mygrid.render()
});

</script>

<div id="page-container" style="margin-bottom: 0px;" ng-controller="DocumentoController as vm">
    <div class="grid fuild">
        <div class="row">
            <div class="panel span5" data-role="panel" ng-show="vm.ProductStep==1">
                <div class="panel-header">Datos generales</div>
                <div class="panel-content">
                    <input type="hidden" ng-model="vm.TarjetaCosto.documento"  ng-init="vm.TarjetaCosto.documento={documento}"/>
                    <div class="input-control select">
                        <label>Proveedor</label>
                        <select ng-model="vm.TarjetaCosto.proveedor">
                            <option ng-repeat="proveedor in vm.ListaDeProveedores" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                        </select>
                    </div>
                    <br />
                    <div class="input-control text">
                        <input type="text" placeholder="Estilo" ng-model="vm.TarjetaCosto.estilo"/>
                    </div>
                    <br />
                    <div class="input-control text">
                        <input type="text" placeholder="Código de origen" ng-model="vm.TarjetaCosto.codigo_origen"/>
                    </div>
                    <br />
                    <div class="input-control textarea">
                        <textarea placeholder="Descripcion del producto" ng-model="vm.TarjetaCosto.descripcion"></textarea>
                    </div>
                    <br />
                    <div class="input-control text">
                        <label>Días de garantía</label>
                        <input type="text" placeholder="Días de garantía" ng-model="vm.TarjetaCosto.dias_garantia" ng-keyup="vm.VerificarEntero(vm.TarjetaCosto, 'dias_garantia');" />
                    </div>
                    <br />
                    <br/>
                    <div class="input-control select">
                        <label>Catálogo</label>
                        <select ng-model="vm.TarjetaCosto.catalogo">
                            <option ng-repeat="catalogo in vm.ListaDeCatalogos" value="{{catalogo.id}}">{{catalogo.nombre}}</option>
                        </select>
                    </div>
                    <br />
                    <div class="input-control text">
                        <input type="text" placeholder="No. Página del catálogo" ng-model="vm.TarjetaCosto.n_pagina" ng-keyup="vm.VerificarEntero(vm.TarjetaCosto, 'n_pagina');" />
                    </div>
                    <br /><br />
                    <div class="input-control select">
                        <label>Propiedad</label>
                        <select ng-model="vm.TarjetaCosto.propiedad">
                            <option value="1">Liquidación</option>
                            <option value="2">Comprado</option>
                            <option value="3">Consignación</option>
                        </select>
                    </div>
                    <br />
                    <div style="text-align:center;">
                        <button type="button" class="primary" ng-click="vm.NextStep();">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel span5" data-role="panel" ng-show="vm.ProductStep==2">
                <div class="panel-header">Segmentación</div>
                <div class="panel-content">
                    <div ng-repeat="categoria in vm.ListaDeCategorias" class="input-control select">
                        <label>{{categoria.grupo_producto}}</label>
                        <select multi-select-checker ng-model="vm.TarjetaCosto.categorias[categoria.id_grupo]" 
                                ng-options="ce.id_categoria_especifica as ce.nombre for ce in vm.ListaDeCategoriasEspecificas[categoria.id_grupo]">
                        </select>
                    </div>
                    <div style="text-align:center;">
                        <button type="button" ng-click="vm.PrevStep();">
                            Atrás
                        </button>
                        <button type="button" class="primary" ng-click="vm.NextStep();">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel span5" data-role="panel" ng-show="vm.ProductStep==3">
                <div class="panel-header">Finalizando</div>
                <div class="panel-content">
                    <div class="input-control text">
                        <label>Corrida desde</label>
                        <input type="text" ng-model="vm.TarjetaCosto.corridaA" ng-keyup="vm.VerificarEntero(vm.TarjetaCosto, 'corridaA');"/>
                    </div>
                    <br/><br />
                    <div class="input-control text">
                        <label>Corrida hasta</label>
                        <input type="text"  ng-model="vm.TarjetaCosto.corridaB" ng-keyup="vm.VerificarEntero(vm.TarjetaCosto, 'corridaB');"/>
                    </div>
                    <br /><br />
                    <div class="input-control text">
                        <label>Fracción corrida</label>
                        <input type="text" ng-model="vm.TarjetaCosto.fraccionCorrida" ng-keyup="vm.VerificarEntero(vm.TarjetaCosto, 'fraccionCorrida');"/>
                    </div>
                    <br/><br /><br />
                    <div class="input-control textarea">
                        <textarea style="margin-bottom:5px;" placeholder="Observaciones" ng-model="vm.TarjetaCosto.observaciones"></textarea>
                    </div>
                    <br />
                    <div class="input-control textarea">
                        <textarea style="margin-bottom:5px;" placeholder="Notas" ng-model="vm.TarjetaCosto.notas"></textarea>
                    </div>
                    <br />
                    <br />
                    <div style="text-align:center;">
                        <button type="button" ng-click="vm.PrevStep();">
                            Atrás
                        </button>
                        <button type="button" class="primary" ng-click="vm.InsertarProducto();">
                            Registrar producto
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel span11" data-role="panel">
                <div class="panel-header">Productos ingresados al documento</div>
                <div class="panel-content">
                    <div class="input-control text span2" style="margin-right:5px; margin-left: 15px;">
                        <label>Documento #</label>
                        <input type="text" ng-model="vm.TarjetaCosto.documento" disabled />
                    </div>
                    <div class="input-control text span2">
                        <label>Estilo</label>
                        <input type="text" ng-model="vm.TarjetaCosto.estilo" disabled/>
                    </div>
                    <div style="clear: both;"></div>
                    <br/>
                    <div id="bigbox" style="margin:15px;display:!none;">
                        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
