<section ng-controller="DocumentoController as vm">
    <nav class="horizontal-menu">
        <ul>
            <li>
                <a class="dropdown-toggle" href="#">Opciones</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="javascript: void(0);" ng-click="vm.NuevoDocumento();">
                            <i class="icon-new"></i>
                            Nuevo documento
                        </a>
                    </li>
                    <!--<li>
                        <a href="/inventario/inventario/cambiarPrecios">
                            <i class="icon-cycle"></i>
                            Actualizar productos
                        </a>
                    </li>-->
                    <!--<li>
                        <a href="/inventario/inventario/actualizarFoto">
                            <i class="icon-pictures"></i>
                            Imagen de producto
                        </a>
                    </li>-->
                    <!--<li>
                        <a href="/inventario/inventario/productosSugeridos">
                            <i class="icon-bookmark-3"></i>
                            Productos sugeridos
                        </a>
                    </li>-->
                </ul>
            </li>
        </ul>
    </nav>
    <p>
        <br/>
    </p>
    <div class="panel span12" style="margin: 0 auto;">
        <div class="panel-header">
            Mis documentos
        </div>
        <div class="panel-content">
            <table class="table" style="text-align:center;">
                <thead>
                    <tr>
                        <th>
                            # Documento
                        </th>
                        <th>
                            Fecha de creaci&oacute;n
                        </th>
                        <th>
                            Propietario
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="documento in vm.ListaDeDocumentos">
                    <td>{{documento.serialnumber}}</td>
                    <td>{{documento.fecha_creacion}}</td>
                    <td>{{documento.propietario}}</td>
                    <td>
                        <a class="button link" href="/inventario/inventario/doc_productos?documento={{documento.id_documento}}&serialnumber={{documento.serialnumber}}">
                           Agregar producto
                        </a>  
                    
                        <a class="button link" href="javascript: void(0);" ng-click="vm.ConfirmarCambios(documento.id_documento);">
                            Confirmar cambios de forma permanente
                        </a>
                    </td>
                </tr>
            </table>  
        </div>
    </div>
</section>
<p><br/><br/><br/></p>
