<script>
    function NuevoDocumento(event) {
        event.preventDefault();
        var s = confirm('Quiere crear un nuevo documento?');
        if (s) {
            location.href = "/{systemModuleName}/inventario/salvar_documento";
        }
    }

    function Historia(event) {
        event.preventDefault();
        location.href = "/{systemModuleName}/inventario/inventarioHistorial";
    }

    function confirmar(id){
        if(confirm("Esta seguro?"))
            location.href='/{systemModuleName}/inventario/actualizar_productos?documento='+id;
    }
</script>
<h3>Mantenimiento de productos</h3>
<p class="text-muted">
    Cree documentos por medio de los cuales hará el ingreso de los productos a la base de datos de la empresa
</p>
<hr/>
<br/><br/>
<section>
    <nav class="horizontal-menu">
        <ul>
            <li><a href="javascript: void(0);" onclick="Historia(event);"><i class="icon-history"></i> Historial de documentos</a></li>
            <li>
                <a class="dropdown-toggle" href="#">Opciones</a> 
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="javascript: void(0);" onclick="NuevoDocumento(event);"><i class="icon-new"></i> Nuevo documento</a></li>
                    
                    <li><a href="/{systemModuleName}/inventario/cambiarPrecios"><i class="icon-cycle"></i> Actualizar productos</a></li>
                    <li><a href="/{systemModuleName}/inventario/actualizarFoto"><i class="icon-pictures"></i> Imagen de producto</a></li>
                    <li><a href="/{systemModuleName}/inventario/productosSugeridos"><i class="icon-bookmark-3"></i> Productos sugeridos</a></li>
               </ul>
            </li>
        </ul>
    </nav>
    <p>
        <br/>
    </p>
    <div class="panel span12" style="margin: 0 auto;">
        <div class="panel-header">
            Mis documentos
        </div>
        <div class="panel-content">
            <table class="table" style="text-align:center;">
                <thead>
                    <tr>
                        <th>
                            # Documento
                        </th>
                        <th>
                            Fecha de creaci&oacute;n
                        </th>
                        <th>
                            Propietario
                        </th>
                        <th>
                            
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
            <!-- START documentos -->
                <tr>
                    <td>{id_documento}</td>
                    <td>{fecha_creacion}</td>
                    <td>{propietario}</td>
                    <td>
                        <a class="button link" href="/{systemModuleName}/inventario/doc_productos?documento={id_documento}">
                           Agregar producto
                        </a>  
                    
                        <a class="button link" href="javascript: void(0);" onclick="confirmar({id_documento});">
                            Confirmar cambios de forma permanente
                        </a>
                    </td>
                </tr>
                <!-- END documentos -->
            </table>  
        </div>
    </div>
</section>
<p><br/><br/><br/></p>
