<script type="text/javascript">
    function comprobarNumero(event){
        var val = $(event.target).val();
        if(isNaN(val)){
            $(event.target).val("");   
        }
    }
</script>
<h3>Gastos por adquisición de producto</h3>
<p class="text-muted">
    Edite los gastos por adquisición del producto
</p>
<hr/>
<div class="panel span4" style="float: left;">
    <div class="panel-header"><i class="icon-new"></i> Agregar un nuevo gasto</div>
    <div class="panel-content">
<form method="post" action="/inventario/inventario/guardar_detalle_retaceo" class="span5">
    <input type="hidden" name="id_hoja_retaceo" value="{id_hoja}" /> 
    <div class="input-control text span3">
        <input type="text" name="concepto" placeholder="Concepto de gasto" required/>
    </div>
    <br />
    <div class="input-control text span3">
        <input type="text" name="gasto" placeholder="Monto" onkeyup="comprobarNumero(event);" required/>
    </div>
    <br />
    <button class="primary">Agregar</button>
</form>
    </div>
</div>
<div class="span5" style="float: left; margin-left: 200px;">
    <table class="table striped" style="text-align: center;">
        <tr>
            <th>Concepto de gasto</th>
            <th>Gastos ($)</th>
        </tr>
        <!-- START detalle -->
            <tr>
                <td>
                    {concepto}
                </td>
                <td>
                    {gasto}
                </td>
            </tr>
        <!-- END detalle -->
    </table>
    <p>
        <br />
    </p>

    <div class="input-control text span2">
        Monto
        <input type="text" value="{total}" disabled="disabled"/>
    </div>
    <button class="success" onclick="location.href='/inventario/inventario/confirmar_hoja_retaceo?cod={id_hoja}'">Confirmar hoja</button>
    
</div>
<div style="clear: both;">
</div>
<p>
    <br/>
    <br/>
    <br/>
    <br/>
</p>