<script type="text/javascript" >

    var grid_demo_id = "genero_grid";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'nombre'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'id', header: "Id", width: 92},
        {id: 'nombre', header: "Genero", width: 525, editor: {type: 'text'}}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/{systemModuleName}/grid_tables/genero_grid_1',
        saveURL: '/{systemModuleName}/inventario/_actualizarGenero',
        width: "620", //"100%", // 700,
        height: "280", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin : true ,
        skin: "mac",
        toolbarContent: 'reload | del save | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    //Sigma.Util.onLoad(function() {
        mygrid.render();
    //});

</script>
<div id="page-container">
    <div id="content" class="span8">
        <form action="/{systemModuleName}/inventario/guardar_genero" method="post">
        <table>
            <tr>
                    <td><h3>Nueva género:</h3></td>
                    <td><h3>Reutilizar ID</h3></td>
                </tr>
            <tr>
                <td>
                        <div class="input-control text">
                            <input type="text" autofocus name="nombre" required/> 
                        </div>
                        <button type="submit" class="big"><i class="icon-save"></i>Agregar</button>     
                </td>
                <td>
                    <div class="input-control checkbox">
                            <label>
                              <input type="checkbox" name="rellenar"  />
                                <span class="check2"></span>
                            </label>
                        </div>
                </td>
            </tr>
        </table>
        </form>
    </div>
     <div class="input-control text span8">
        <input type="text" placeholder="Buscar" onkeyup="filtrarResultados(event);"/>
        <button class="btn-search" type="button"></button>
    </div>
    <div id="bigbox" style="margin:0px;display:!none;">
        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

         </div>
    </div>
    <div style="clear: both;"></div>
</div>
<script type="text/javascript">
    function filtrarResultados(e){
        var term = $(e.target).val();
        var grid = Sigma.$grid("genero_grid");
        grid.loadURL = '/{systemModuleName}/grid_tables/genero_grid_1?term='+term;
    	grid.reload();
    }
</script>
