<script type="text/javascript" >

    var grid_demo_id = "grupo_grid";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'nombre'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'id', header: "Id", width: 92},
        {id: 'nombre', header: "Grupo", width: 285, editor: {type: 'text'}}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/{systemModuleName}/grid_tables/grupo_grid_1',
        saveURL: '/{systemModuleName}/inventario/_actualizarGrupo',
        width: "380", //"100%", // 700,
        height: "280", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin : true ,
        skin: "mac",
        toolbarContent: 'reload | del save | nav state'
    };

    var mygrid = new Sigma.Grid(gridOption);
    //Sigma.Util.onLoad(function() {
        mygrid.render();
    //});

</script>
<div id="page-container">
    <div id="content" class="grid">
        <div class="row">
            <div class="panel span6">
                <div class="panel-header">Grupos</div>
                <div class="panel-content">
                    <div class="input-control text span5">
                        <input type="text" placeholder="Buscar" onkeyup="filtrarResultados(event);"/>
                        <button class="btn-search" type="button"></button>
                    </div>
                    <br/>
                    <div id="bigbox" style="margin:0px;display:!none;">
                        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
                
                         </div>
                    </div>
                    <div style="clear: both;"></div>  
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="panel span4">
                <div class="panel-header">
                    Crear un nuevo grupo
                </div>
                <div class="panel-content">
                     <form action="/{systemModuleName}/inventario/guardar_grupo" method="post">
                        <div class="input-control checkbox">
                            <label>
                                    <input type="checkbox" name="rellenar"  />
                                    <span class="check"></span>
                            </label>
                        </div>
                        Reutilizar correlativos
                        <div class="input-control text">
                                <input type="text" placeholder="Nombre del nuevo grupo"  name="nombre" required autofocus/> 
                        </div>
                        <button type="submit" class="big"><i class="icon-save"></i>Agregar</button>        
                    </form>
                </div>
            </div> 
         </div>   
    </div>
</div>
<script type="text/javascript">
    function filtrarResultados(e){
        var term = $(e.target).val();
        var grid = Sigma.$grid("grupo_grid");
        grid.loadURL = '/{systemModuleName}/grid_tables/grupo_grid_1?term='+term;
    	grid.reload();
    }
</script>