<h3>Historial de documentos</h3>
<hr/>
<form>
    <div class="input-control text span2">
        # Documento 
        <input type="text" name="doc"/>
    </div>
    <div class="input-control text span2">
        Propietario 
        <input type="text" name="propietario"/>
    </div>
    <div class="input-control text span3" data-role="datepicker"/> 
        <input type="text" name="fecha" required />
        <button type="button" class="btn-date"></button>
    </div>
    <div class="input-control text span4"></div>
    <div class="input-control select span2">
        Estado 
        <select name="estado">
            <option value="3">Todos</option>
            <option value="0">Pendiente</option>
            <option value="1">Aplicado</option>
        </select>
    </div>
    <button class="button">Buscar</button>
</form>
<table class="table span12" style="text-align:center;">
    <thead>
        <tr>
            <th># Documento</th>
            <th>
                Propietario
            </th>
            <th>
                Estado
            </th>
            <th>
                Creado el
            </th>
            <th></th>
        </tr>
    </thead>
    <!-- START historial -->
    <tr>
        <td>
           {id_documento}
        </td>
        <td>
            {propietario}
        </td>
        <td>
            {{estado}}
        </td>
        <td>
            {fecha_creacion}
        </td>
        <td>
             <a href="/{systemModuleName}/inventario/reporteDocumentoPr?id={id_documento}" target="_blank">Imprimir</a>
        </td>
    </tr>
    <!-- END historial -->
</table>
<br/>
{paginacion}