<br/>
<br/>
<h3>Historial de documentos</h3>
<br/>
<br/>
{paginacion}
<br/>
<br/>
<br/>
<table class="table span11" style="text-align:center;">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                Propietario
            </th>
            <th>
                Estado
            </th>
            <th>
                Creado el
            </th>
            <th>
                Módulo
            </th>
        </tr>
    </thead>
    <!-- START historial -->
    <tr>
        <td>
            <a href="/{systemModuleName}/inventario/reporteDocumentoPr?id={id_documento}" target="_blank">{id_documento}</a>
        </td>
        <td>
            {propietario}
        </td>
        <td>
            {{estado}}
        </td>
        <td>
            {fecha_creacion}
        </td>
        <td>
            {modulo}
        </td>
    </tr>
    <!-- END historial -->
</table>
