<script>

    $(document).ready(function() {
        var acceso = "{acceso}".trim();
        if (acceso == "1") {
            $('#clinea').append('<i class="icon-move-horizontal"></i><a href="/nymsa/inventario/cambio_de_linea" id="cambio_lineas"> Cambio de linea </a>');
        }
    });

    $(function() {
        var ModuleList = new Array('colores', 'generos', 'marcas', 'lineas', 'proveedores', 'bodegas', 'stock', 'productos');
        for (var i = 0; i < ModuleList.length; i++) {
            var uri = '/nymsa/cliente/CheckIfSubEnabledStr/inventario/' + ModuleList[i];
            var ajaxRq = $.post(uri, function(data) {
                if (data.Result == false) {
                    $('#' + data.Module).bind('click', function() {
                        alert('No tiene permisos suficientes');
                    });
                    $('#' + data.Module).removeClass('bg-blue');
                    $('#' + data.Module).removeClass('bg-green');
                    $('#' + data.Module).removeClass('bg-red');
                    $('#' + data.Module).removeClass('bg-orange');
                    $('#' + data.Module).removeClass('bg-purple');
                    $('#' + data.Module).removeClass('bg-pink');
                    $('#' + data.Module).addClass('bg-black');
                } else {
                    switch (data.Module) {
                        case 'proveedores':
                            $('#' + data.Module).bind('click', function() {
                                location.href = '/nymsa/inventario/verificacionProveedor';
                            });
                            break;
                        case 'productos':
                            $('#' + data.Module).bind('click', function() {
                                location.href = '/nymsa/inventario/nuevo_producto';
                            });
                            break;
                        case 'stock':
                            $('#' + data.Module).bind('click', function() {
                                location.href = '/nymsa/inventario/stock_documentos';
                            });
                            break;
                        default:
                            $('#' + data.Module).bind('click', function() {
                                location.href = '/nymsa/inventario/' + data.Module;
                            });
                            break;
                    }
                }
            }, "json");
        }
    });
</script>

<style type="text/css">
    .tool-panel
    {
        float: left;
    }
</style>
<!--
    <ul class="treeview" data-role="treeview">
    <li class="node">
    <a href="#"><span class="node-toggle"></span>sergey@pimenov.com.ua</a>
    <ul>
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Outbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Rss-channels</a></li>
    <li><a href="#">Trash <span class="value">[5]</span></a></li>
    <li class="node">
    <a href="#"><span class="node-toggle"></span>subnode</a>
    <ul>
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Outbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Rss-channels</a></li>
    <li><a href="#">Trash</a></li>
    </ul>
    </li>
    </ul>
    </li>
     
    <li class="node collapsed">
    <a href="#"><span class="node-toggle"></span>info@metroui.net</a>
    <ul>
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Outbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Rss-channels</a></li>
    <li><a href="#">Trash</a></li>
    </ul>
    </li>
    </ul>

-->

<h1>Inventarios</h1>
<hr/>
<div style="background: #f3f3f3; padding: 30px; margin-right: 30px;">
    <div class="span4 tool-panel">
        <h2>Segmentación</h2>
        <span style="font-size:14px;"><i class="icon-list"></i> <a href="javascript:void(0);" id="lineas">*Lineas </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-tag"></i><a href="javascript:void(0);" id="marcas">* Marcas </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-accessibility"></i><a href="javascript:void(0);" id="generos"> *Generos </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-droplet"></i><a href="javascript:void(0);" id="colores">* Colores </a></span>
        <br/>
    </div>

    <div class="span4 tool-panel">
        <h2>Productos</h2>
        <span style="font-size:14px;"><i class="icon-box"></i><a href="javascript:void(0);" id="bodegas"> *Bodegas </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-user-2"></i><a href="javascript:void(0);" id="proveedores"> *Proveedores </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-star-3"></i><a href="/nymsa/inventario/catalogos" id="catalogos">* Catálogos </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-basket"></i><a href="javascript:void(0);" id="productos"> *Productos </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-cart"></i><a href="/nymsa/inventario/ofertas" id="ofertas"> Ofertas </a></span>
        <br/>
        <span style="font-size:14px;"><a href="/nymsa/inventario/promociones" id="promociones"> Promociones </a></span>
        <br/>
    </div>


    <div class="span4 tool-panel">
        <h2>Mantenimientos</h2>
        <span style="font-size:14px;"><i class="icon-cycle"></i><a href="/nymsa/inventario/vericarPermisoPrecio" id="cambios"> *Actualización de productos </a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-tab"></i><a href="/nymsa/inventario/traslados" id="traslados"> * Traslado de producto</a></span>
        <br/>
        <span style="font-size:14px;"><a href="/nymsa/inventario/comparativo_fisico_teorico" id="comparativos"> Inventario (Físico - Teórico)</a></span>
        <br/>
        <span style="font-size:14px;"><i class="icon-clipboard"></i><a href="/nymsa/inventario/orden_compra" id="compras"> *Orden de compra </a></span>
        <br/>
        <span style="font-size:14px;"><a href="/nymsa/inventario/consigna" id="consignas"> Consignas </a></span>
        <br/>
        <span style="font-size:14px;" id="clinea"></span>
    </div>
    <div style="clear: both;"></div>
</div>