<div class="page-region-content" style="margin-left:150px;">
    <section id="ajax-content-loader" style="text-align:justify;padding-right:50px">
        <h3>Bienvenido al panel de edici&oacute;n de productos</h3>
        <p>
            Para registrar productos es necesario crear un documento. Que es un documento?,
            los documentos permiten enfocarte s&oacute;lo en la tarea que se est&aacute;
            realizando, son temporales por lo que son ideales para verificar los datos antes
            de ingresarlos permanetemente en el sistema.
        </p>
        <p>
            Los documentos permiten agrupar tareas grandes, de manera que se pueda hacer en
            per&iacute;odos de tiempo separados, es decir, con pausas entre una y otra inserci&oacute;n
            de nuevos registros.
        </p>
        <p>  
            Para insertar crear un documento seleccione la opci&oacute;n "Nuevo documento" del
            panel lateral (est&aacute; marcada con el icono <i class="icon-new"></i>) y confirme
            la creaci&oacute;n si est&aacute; de acuerdo 
        </p>
        <p>
            Para insertar productos seleccione la opci&oacute;n "ver documentos" del panel lateral
            (est&aacute; marcada con el icono <i class="icon-eye"></i>), escoga un documento para 
            utilizarlo durante la inserci&oacute;n. Si no hay documentos puede cear uno.
        </p>
    </section>
</div>