<script>

    $(document).ready(function() {
        window.nOrden = {
            estado: "PENDIENTE",
            tipo: "inicial",
            fecha: "{fecha}",
            fecha_entrega: "",
            fecha_espera: "",
            proveedor: 0,
            total: 0,
            total_costo: 0.0,
            editable: 1
        }

        window._colors = [ 
            {"id":0, "nombre":""}
            <!-- START colores -->
                ,{"id":{id}, "nombre":"{nombre}"}
            <!-- END colores -->
        ]

        url_hd = new url_handler();
        url_hd.initialize();
            
        if (url_hd.isKey("err")) {
            $.Dialog({
                overlay: true,
                shadow: true,
                flat: true,
                icon: '<i class="icon-warning"></i>',
                title: 'Info',
                content: '',
                onShow: function(_dialog){
                    var content = _dialog.children('.content');
                    content.html('<p style="padding: 15px;">Esta orden ya fue confirmada</p>');
                }
                        
            });
        }
            
        if (url_hd.isKey("success")) {
            $.Dialog({
                overlay: true,
                shadow: true,
                flat: true,
                icon: '<i class="icon-warning"></i>',
                title: 'Info',
                content: '',
                onShow: function(_dialog){
                    var content = _dialog.children('.content');
                    content.html('<p style="padding: 15px;">La orden fue cancelada</p>');
                }
                        
            });
        }

        if (url_hd.isKey("conf")) {
            $.Dialog({
                overlay: true,
                shadow: true,
                flat: true,
                icon: '<i class="icon-warning"></i>',
                title: 'Info',
                content: '',
                onShow: function(_dialog){
                    var content = _dialog.children('.content');
                    content.html('<p style="padding: 15px;">La orden fue finalizada con éxito</p>');
                }
                        
            });
        }

        window.pendiente = false;
        window.entregado = false;
        window.rechazado = false;

        var urlHandler = new url_handler();
        urlHandler.initialize();

        if(urlHandler.isKey("pag")){
            if(urlHandler.isKey("e")) { $('#_entregado').attr("checked", "checked"); }
            if(urlHandler.isKey("r")) { $('#_rechazado').attr("checked", "checked"); }
            if(urlHandler.isKey("p")) { $('#_pendiente').attr("checked", "checked"); }
            mk_e();
            mk_p();
            mk_r();
            producto_en_transito();
        }

            
        if (typeof($('#_pendiente').attr("checked")) != 'undefined') {     
            window.pendiente = true;
        }
            
        if (typeof ($('#_entregado').attr("checked")) != 'undefined') {
            window.entregado = true;
        }
            
        if (typeof ($('#_rechazado').attr("checked")) != 'undefined') {
            window.rechazado = true;
        }

    });
        
    function nueva_orden() {
        $.Dialog({
            shadow: true,
            overlay: false,
            icon: '<span class="icon-new"></span>',
            title: 'Nueva orden de compra',
            width: 500,
            padding: 10,
            draggable: true,
            content: [
                "<div style='text-align:center;'>",
                "<h3>¿Quiere crear una nueva orden  de compra?</h3>",
                "</div>",
                "<br/><br/><br/>",
                "<div style='text-align:right;'>",
                "<button onclick='tipo_orden();'>Aceptar</button>",
                "</div>"
            ].join('')
        });
    }

    function tipo_orden() {
        $.Dialog.close();
        $.Dialog({
            shadow: true,
            overlay: false,
            icon: '<span class="icon-new"></span>',
            title: 'Tipo de orden',
            width: 500,     
            padding: 10,
            draggable: true,
            content: [
                "<div style='text-align:center;'>",
                "<h3>Seleccione el tipo de orden</h3>",
                "<div class='input-control select'>",
                "<select id='tipoOrden'>",
                "<option value='inicial'>Pedido inicial</option>",
                "<option value='resurtido'>Resurtido</option>",
                "</select>",
                "</div>",
                "</div>",
                "<br/>",
                "<div style='text-align:right;'>",
                "<button onclick='seleccionar_proveedor();'>Siguiente</button>",
                "</div>"
            ].join('')
        });
    }

    function seleccionar_proveedor() {
        window.nOrden.tipo = $('#tipoOrden').val();
        $.Dialog.close();
        $.Dialog({
            shadow: true,
            overlay: false,
            icon: '<span class="icon-info"></span>',
            title: 'Seleccion de proveedor',
            width: 500,
            padding: 10,
            draggable: true,
            content: [
                "<div style='text-align:center;'>",
                "<h3>Seleccione un proveedor</h3>",
                "</div>",
                "<div class='input-control select'>",
                "<select id='fproveedor'>",
                "<!-- START proveedores -->",
                "<option value='{id}'>{nombre}</option>",
                "<!-- END proveedores -->",
                "</select>",
                "</div>",
                "</div>",
                "<br/><br/>",
                "<div style='text-align:right;'>",
                "<button onclick='fecha_espera();'>Aceptar</button>",
                "</div>"
            ].join('')
        });
    }

    function fecha_espera(){
        window.nOrden.proveedor = $('#fproveedor').val();
        $.Dialog.close();
        $.Dialog({
            shadow: true,
            overlay: false,
            icon: '<span class="icon-info"></span>',
            title: 'Seleccion de proveedor',
            width: 500,
            padding: 10,
            draggable: true,
            content: [
                "<div style='text-align:center;'>",
                "<h3>¿Cuándo espera recibir el producto?</h3>",
                "</div>",
                "<div class='input-control text'>",
                "<input type='date' id='ffecha_espera' placeholder='aaaa/mm/dd' onkeyup='mascara(this, \"/\", patron_fecha, true)' maxlength='10'/>",    
                "</div>",
                "</div>",
                "<br/><br/>",
                "<div style='text-align:right;'>",
                "<button onclick='confirmar_orden();'>Aceptar</button>",
                "</div>"
            ].join('')
        });
    }

    function confirmar_orden() {
        if($('#ffecha_espera').val().trim()==""){
            alert("Ingrese una fecha");
            fecha_espera();
        }else{
            uri = "/nymsa/inventario/crear_orden";
            window.nOrden.fecha_espera = $('#ffecha_espera').val();
            
            $.post(uri, window.nOrden, function(data) {
                oc_uri  = '/nymsa/inventario/oc_data';
                oc_data = {oc_id: data.id};
                
                $.post(oc_uri, oc_data, function(n_dt) {
                    producto_en_transito();
                }, "json");

            }, "json");

            $.Dialog.close();

            $.Dialog({
                shadow: true,
                overlay: false,
                icon: '<span class="icon-info"></span>',
                title: 'Info',
                width: 500,
                padding: 10,
                draggable: true,
                content: [
                    "<div style='text-align:center;'>",
                    "<h3>Orden creada exitosamente</h3>",
                    "</div>",
                    "<br/><br/><br/>",
                    "<div style='text-align:right;'>",
                    "<button onclick='$.Dialog.close();'>Aceptar</button>",
                    "</div>"
                ].join('')
            });
        }
        
    }

    function mk_e() {
        if (typeof ($('#_entregado').attr("checked")) != 'undefined') {
            window.entregado = true;
        } else {
            window.entregado = false;
        }
    }

    function mk_r() {
        if (typeof ($('#_rechazado').attr("checked")) != 'undefined') {
            window.rechazado = true;
        } else {
            window.rechazado = false;
        }
    }

    function mk_p() {
        if (typeof ($('#_pendiente').attr("checked")) != 'undefined') {
            window.pendiente = true;
        } else {
            window.pendiente = false;
        }
    }

    function producto_en_transito() {
        uri = "/nymsa/inventario/p_transito";

        var urlHandler = new url_handler();
        urlHandler.initialize();

        if(urlHandler.isKey("pag")){
            uri = uri + "?pag=" +urlHandler.getValue("pag");
        }

        filter = {
            "pendiente": window.pendiente,
            "entregado": window.entregado,
            "rechazado": window.rechazado

        };

        pt_s = $.post(uri, filter, function(data) {
            $('#contenido_dinamico').html(data.html);
        }, "json");
    }

    function buscar() {
        id = $('#sc_bar').val();
        uri = "/nymsa/inventario/f_transito";
        pt_s = $.post(uri, {"id": id}, function(data) {
            $('#contenido_dinamico').html(data.html);
        }, "json");
    }

    function cancelar_orden() {
        if (typeof (window.data_oc) != 'undefined') {
            s = confirm("Esta seguro de cancelar esta orden?");
            if (s) {
                location.href = "/nymsa/inventario/cancelar_oc?id=" + window.data_oc.id;
            }
        }
    }

    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            
            d.value = val
            d.valant = val
        }
    }


</script>
<section>
    <div class="fluent-menu" data-role="fluentmenu">

        <ul class="tabs-holder">
            <li class="special"><a href="#">Orden de compra</a></li>
            <li class="active"><a href="#tab_home">Inicio</a></li>
        </ul>

        <div class="tabs-content">
            <div style="display: block;" class="tab-panel" id="tab_home">
                <div class="tab-panel-group">
                    <div class="tab-group-content">
                        <button class="fluent-big-button" onclick="nueva_orden();">
                            <span class="icon-new"></span>
                            <span class="button-label">Nuevo</span>
                        </button>
                        <button class="fluent-big-button btnS" onclick="cancelar_orden();">
                            <span class="icon-cancel"></span>
                            <span class="button-label">Cancelar</span>
                        </button>
                    </div>
                    <div class="tab-group-caption">Acciones</div>
                </div>
                <div class="tab-panel-group">
                    <div class="tab-group-content">
                        <div class="tab-content-segment">
                            <div class="input-control checkbox" onclick="mk_p();">
                                <label>
                                    <input id="_pendiente" type="checkbox" checked="checked"/>
                                    <span class="check"></span>
                                    Pendiente
                                </label>
                            </div>

                            <div class="input-control checkbox" onclick="mk_e();">
                                <label>
                                    <input id="_entregado" type="checkbox" />
                                    <span class="check"></span>
                                    Entregado
                                </label>
                            </div>
                            <br/>
                            <div class="input-control checkbox" onclick="mk_r();">
                                <label>
                                    <input id="_rechazado" type="checkbox" />
                                    <span class="check"></span>
                                    Rechazado
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-group-caption">Filtros</div>
                </div>
                <div class="tab-panel-group">
                    <div class="tab-group-content">
                        <div class="input-control text">
                            <input id="sc_bar" type="text" placeholder="# Orden">
                            <button class="btn-search" onclick="buscar();"></button>
                        </div>
                        <button class="fluent-button" onclick="producto_en_transito();"><span class="icon-book on-left"></span>Consultar</button>
                        <button class="fluent-button" onclick="location.href='/nymsa/inventario/ver_producto_en_transito'"><span class="icon-tab on-left"></span>Producto en tránsito</button>
                    </div>
                    <div class="tab-group-caption">Consultas</div>
                </div>
            </div>
        </div>            
    </div>
    <div id="contenido_dinamico">

    </div>
</section>