<style type="text/css">
            body{
                background: url(../static/img/banner.jpg) no-repeat;
                background-position: bottom right;
            }
</style>
<div class="panel span10" data-role="panel">
	<div class="panel-header">
		Módulo de control de inventario	
	</div>
	<div class="panel-content">
		<p>
			El módulo de control de inventario ha sido diseñado 
			pensando en las necesidades de las empresas  
			que requieren de un control estricto de las existencias de sus artículos de consumo interno y para la venta.
		</p>
		<p>
			<strong>Control de Inventarios</strong> integra todos los movimientos transaccionales que tienen relación con consumos, 
			producción, ventas, ingresos, entre otros, realizados directamente en él o desde los demás módulos con 
			los que interactúa.
		</p>
	</div>
</div>
<p>
	<br/>
</p>
<div class="panel span10" data-role="panel">
	<div class="panel-header bg-lightBlue fg-white">
		Características	
	</div>
	<div class="panel-content">
		<p>
			<ul>
				<li>
					Gestión de proveedores
				</li>
				<li>
					Creación de catálogos de productos
				</li>
				<li>
					Segmentación de productos
				</li>
				<li>
					Gestión de bodegas
				</li>
				<li>
					Control de existencias de productos
				</li>
			</ul>
		</p>
	</div>
</div>