<div ng-controller="PrincipalController as vm">
    <div class="grid">
        <div class="row">
            <div class="span10">
                <div ng-repeat="banner in vm.Banners">
                    <div class="panel" data-role="panel">
                        <div class="panel-header">
                            {{banner.titulo}}
                        </div>
                        <div class="panel-content">
                            <p ng-bind-html="banner.descripcion">

                            </p>
                        </div>
                    </div>
                    <p>
                        <br />
                    </p>
                </div>
            </div>
            <div class="span10" style="text-align:right">
                <h1>{{vm.Organizacion.nombre_comercial}}</h1>
                <h2>{{vm.Organizacion.direccion}}</h2>
                <p>{{vm.Organizacion.telefono}}</p>
                <p>{{vm.Organizacion.fax}}</p>
                <img src="../static/img/banner_{{vm.Organizacion.id}}.jpg" style="width:300px;height: auto;"/>
            </div>
        </div>
    </div>
</div>