<div class="panel span5" style="float: left; margin: 20px;">
	<div class="panel-header">
		Información
	</div>
	<div class="panel-content">
		<p>
			Selecione un producto y a continuación podrá escoger productos que estén estrechamente relacionados, de esta forma
			puede recomendar a sus clientes productos similares al que buscan en caso de inexistencias.
		</p>	
	</div>
</div>

<div style="float: left; margin: 20px;" class=" panel span5">
	<div class="panel-header">
		Asosiación de productos
	</div>
	<div class="panel-content">
		<div class="span6">
			<div class="input-control select span2">
				Seleccione una linea
				<select id="linea">
					<!-- START linea -->
						<option value="{id}">{nombre}</option>
					<!-- END linea -->
				</select>
			</div>
			<div id="divEst" class="input-control text span2">
				Ingrese un estilo
				<input id="estilo" type="text" />
			</div>
		</div>

		<div class="span6" >
			<div id="divEstSug" class="input-control text span2">
				Ingrese un estilo similar
				<input id="estilo_sugerido" type="text" />
			</div>
			<button id="btnAgregarEstilo">Agregar estilo</button>
		</div>
	</div>
</div>

<div class="panel span5" style="float: left; margin: 20px;">
	<div class="panel-header">
		Productos a sugerir
	</div>
	<div class="panel-content">
		<ul id="sugerencias">
			
		</ul>
	</div>
</div>
<div style="clear: both;"></div>
<script type="text/javascript">
	$(document).ready(function(){

		window.estilo = false;
		window.estilo_sugerido = false;

		$('#estilo').bind('keyup', function(){
			var linea  = $('#linea').val().trim();
			var estilo = $('#estilo').val().trim();

			var json_data = { 
				"fields": ["estilo"],
				"conditions": [["linea", "=", linea], "AND", ["estilo", "=", estilo]]
			};

			var uri = "/nymsa/inventario/json_producto";

			$.post(uri, json_data, function(response){
				if(response[0]<=0){
					window.estilo = false;
					$('#sugerencias li').remove();
					$('#divEst').removeClass("success-state");
					$('#divEst').addClass("error-state");
				}else{
					window.estilo = true;
					cargarSugeridos();
					$('#divEst').removeClass("error-state");
					$('#divEst').addClass("success-state");
				}
			}, "json");
		});

		$('#estilo_sugerido').bind('keyup', function(){
			var linea  = $('#linea').val().trim();
			var estilo = $('#estilo_sugerido').val().trim();

			var json_data = { 
				"fields": ["estilo"],
				"conditions": [["linea", "=", linea], "AND", ["estilo", "=", estilo]]
			};

			var uri = "/nymsa/inventario/json_producto";

			$.post(uri, json_data, function(response){
				if(response[0]<=0 || (estilo == $('#estilo').val().trim()) ){
					window.estilo_sugerido = false;
					$('#divEstSug').removeClass("success-state");
					$('#divEstSug').addClass("error-state");
				}else{
					window.estilo_sugerido = true;
					$('#divEstSug').removeClass("error-state");
					$('#divEstSug').addClass("success-state");
				}
			}, "json");
		});

		$('#linea').bind('change', function(){
			$('#estilo').keyup();
			$('#estilo_sugerido').keyup();
		});

		$('#btnAgregarEstilo').bind('click', function(){
			if(window.estilo && window.estilo_sugerido){
				var uri  = "/nymsa/inventario/agregarProductoSugerido";
				
				var data = {
					"estilo": $('#estilo').val().trim(),
					"estilo_sugerencia": $('#estilo_sugerido').val().trim(),
					"linea": $('#linea').val()
				};

				$.post(uri, data, function(response){
					alert(response.msg);
					cargarSugeridos();
				}, "json");

			}else{

				alert("Debe ingresar estilos validos, ambos deben pertenecer a la misma linea");
			}
		});

	});	

	function cargarSugeridos(){
		var linea  = $('#linea').val();
		var estilo = $('#estilo').val();
		var uri    = "/nymsa/inventario/json_productos_sugeridos";
		var data   = {
			"linea": linea,  
			"estilo": estilo
		};

		$.post(uri, data, function(response){
			$('#sugerencias li').remove();
			for(var i = 0; i < response.length; i++){
				$('#sugerencias').append('<li><a target="_blank" href="/nymsa/inventario/detalle_de_producto?estilo='+response[i]['estilo_sugerencia']+'">'+response[i]['estilo_sugerencia']+'</a></li>')
			}
		}, "json");
	}

</script>