<style>
    #info-bar input,#info-bar select{
        margin: 0px;
    }

    #info-titles{
        padding-left: 10px;
        padding-right: 10px;
    }

    #info-bar{
        margin-top: 10px;
        margin-right: 20px;
        border: solid 1px #D3D3D3;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 15px;
    }

    #info-titles p{
        width: 70px;
        margin-left: 2px;
        margin-right: 2px;
        float: left;
        text-align: center;
        font-size: 12px;
    }
</style>

<h3>Promociones</h3>
<hr/>
<div style="width:350px; border:solid 1px #D3D3D3; border-radius:10px 10px 10px 10px;padding:20px;text-align:right;float:left;margin-top:20px;">
    <h5>Nueva promoción</h5>
    <form action="/nymsa/promocion/guardar" method="post">
        Id: <input type="text" name="id" value="0"/>
        <br/>
        Nombre promoción: <input type="text" name="nombre" required/>
        <br/>
        Inicio: <input type="text" name="inicio" value="{fecha}" onkeyup="mascara(this, '/', patron_fecha, true)" required/>
        <br/>
        Fin: <input type="text" name="fin" value="{fecha}" onkeyup="mascara(this, '/', patron_fecha, true)" required/>
        <br/>
        <br/>
        <button type="submit">Crear promoción</button>
    </form>
</div>

<div id="bigbox" style="margin:15px;display:!none;float:left;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

    </div>
</div>

<div id="rpanel" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;">
    <h3>Editando promoción No. <span id="nPromo"></span></h3>
    <button onclick="cerrarRPanel();" style="float:right;margin-right:20px;">Cerrar</button>
    <hr/>
    <div id="bigbox2" style="margin:15px;display:!none;float:left;">
        <div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

        </div>
    </div>
    <!-- busqueda del producto -->
    <div class="input-control text" id="info-bar">
        <select id="bLinea" style="width:130px;" > 
            <!-- START lineas -->
            <option value="{id}">[{id}] | {nombre}</option>
            <!-- END lineas -->
        </select>
        <input type="text" id="bEstilo" style="width:70px;"/>

        <input type="text" id="bColor" style="width:70px;" />

        <input type="text" id="bTalla" style="width:70px;" onblur="consulta();" onchange="seleccionarTalla();" >

        <input type="text" id="bPrecio" style="width:70px;" onblur="validar_precio();" >

        <button onfocus="agregarItem();" onclick="agregarItem();" id="Enter"><i class="icon-enter-2"></i></button>
    </div>
    <div id="info-titles">
        <p style="padding-right:130px;">Linea</p> 
        <p>Estilo</p> 
        <p>Color</p> 
        <p>Talla</p>
        <p>Nuevo precio</p>
    </div>	
</div>

<script>

    function agregarItem() {
        var precio = $('#bPrecio').val().trim();
        var filtros = [];
        var linea = $('#bLinea').val().trim();
        var estilo = $('#bEstilo').val().trim();
        var color = $('#bColor').val().trim();
        var talla = $('#bTalla').val().trim();
        var promo = $('#nPromo').html().trim();

        if (precio == "") {
            alert("Debe indicar un precio");
        } else {
            filtros.push(['linea', linea].join(":"));
            if (estilo != "")
                filtros.push(['estilo', estilo].join(":"));
            if (color != "")
                filtros.push(['color', color].join(":"));
            if (talla != "")
                filtros.push(['talla', talla].join(":"));
            filtros = filtros.join(",");

            var uri = '/nymsa/promocion/agregar_producto';
            var data = {
                filtro: filtros,
                nprecio: precio,
                id_promocion: promo
            };

            var insrq = $.post(uri, data, function(d) {
                if (d.error)
                    alert("No existe el produco o su stock no es suficiente para agregar a promocion");
                else {
                    var grid = Sigma.$grid("detalle_grid");
                    grid.reload();
                }
            }, "json");
        }
    }

    function validar_precio() {
        var precio = $('#bPrecio').val();
        if (isNaN(precio) || precio <= 0) {
            $('#bPrecio').val("");
        }
    }

    $(document).ready(function() {
        var uriHandler = new url_handler();
        uriHandler.initialize();
        if (uriHandler.isKey('success')) {
            alert("Promocion creada con exito");
        } else if (uriHandler.isKey('errno')) {
            switch (uriHandler.getValue('errno')) {
                case '300':
                    alert("La fecha indicada no es valida");
                    break;
                case '301':
                    alert("La fecha de fin debe ser superior a la de inicio");
                    break;
            }
        }
    });

    function edicionPromo(id) {
        cerrarRPanel();
        $('#nPromo').html(id);
        $('#bEstilo').focus();
        var grid = Sigma.$grid("detalle_grid");
        grid.loadURL = '/nymsa/grid_tables/promocion_detalle/' + id;
        grid.reload();
        mostrarRPanel();
    }

    function cerrarRPanel() {
        if ($('#rpanel').css('right') == '0px') {
            $('#rpanel').animate({
                'right': '-620px'
            }, 500);
        }
    }

    function mostrarRPanel() {
        if ($('#rpanel').css('right') == '-620px') {
            $('#rpanel').animate({
                'right': '0px'
            }, 400);
        }
    }

    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            d.value = val
            d.valant = val
        }
    }


    var grid_demo_id = "general_grid";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'nombre'},
            {name: 'inicio'},
            {name: 'fin'},
            {name: 'creado_en'},
            {name: 'creado_por'}
        ],
        recordType: 'object'
    }

    function accion_render(value, record, columnObj, grid, colNo, rowNo) {
        return '<a href="javascript:void(0);" onclick="edicionPromo(' + record['id'] + ');">Editar</a>';
    }

    var colsOption = [
        {id: 'id', header: "Id", width: 80},
        {id: 'nombre', header: "Nombre", width: 80},
        {id: 'inicio', header: "Inicio", width: 80},
        {id: 'fin', header: "Cierre", width: 80},
        {id: 'creado_por', header: "Creado por", width: 100},
        {id: 'creado_en', header: "Creado el", width: 80},
        {id: 'acciones', header: "Opciones", width: 80, renderer: accion_render}
    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/inventario/cargar?tblname=promocion',
        saveURL: '/nymsa/inventario/actualizar?tblname=promocion',
        width: "582", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });

    var grid_demo2_id = "detalle_grid";


    var dsOption2 = {
        fields: [
            {name: 'id'},
            {name: 'nombre'},
            {name: 'inicio'},
            {name: 'fin'},
            {name: 'creado_en'},
            {name: 'creado_por'}
        ],
        recordType: 'object'
    }


    var colsOption2 = [
        {id: 'linea', header: "Linea", width: 80},
        {id: 'estilo', header: "Estilo", width: 80},
        {id: 'color', header: "Color", width: 80},
        {id: 'talla', header: "Talla", width: 80},
        {id: 'nuevo_precio', header: "Precio promo.", width: 100},
        {id: 'acciones', header: "Opciones", width: 80, renderer: accion_render}
    ];


    var gridOption2 = {
        id: grid_demo2_id,
        loadURL: '',
        saveURL: '',
        width: "500", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox2',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption2,
        columns: colsOption2,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygrid2 = new Sigma.Grid(gridOption2);
    Sigma.Util.onLoad(function() {
        mygrid2.render();
    });

</script>