<button id="btnReport" class="button"><i class="icon-printer"></i> Imprimir</button>
<button id="btnPreview" class="button"><i class="icon-eye"></i> Vista previa</button>
<p>
	<br/>
</p>
<div class="panel span12" data-role="panel">
	<div class="panel-header">
		<i class="icon-filter"></i> Filtros
	</div>
	<div class="panel-content">
		<div class="grid">
			<div class="row">
				<div class="span1">
					Saldos a fecha
				</div>
				<div class="span2">
					<div id="saldos" class="input-control text">
						<input type="text"  id="fecha"/>
						<button type="button" class="btn-date"></button>
					</div>
				</div>
				<div class="span2">
					<div class="input-control checkbox">
					    <label>
					        <input type="checkbox" id="suprimir_cero" checked/>
					        <span class="check"></span>
					        Suprimir existencia 0
					    </label>
					</div>
				</div>
				<div class="span2">
					<div class="input-control checkbox">
					    <label>
					        <input type="checkbox" id="mostrar_pv" checked/>
					        <span class="check"></span>
					        Mostrar PV
					    </label>
					</div>
				</div>
				<div class="span2">
					<div class="input-control checkbox">
					    <label>
					        <input type="checkbox" id="mostrar_pc" checked/>
					        <span class="check"></span>
					        Mostrar PC
					    </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span1">
					Bodega
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="bodega_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="bodega_2" value="99"/>
					</div>
				</div>
				<div class="span1">
					Catálogo
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="catalogo_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="catalogo_2" value="999"/>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="span1">
					Linea
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="linea_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="linea_2" value="999"/>
					</div>
				</div>	
				<div class="span1">
					Página
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="pagina_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="pagina_2" value="999"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span1">
					Proveedor
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="proveedor_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="proveedor_2" value="999"/>
					</div>
				</div>
				<div class="span1">
					Color
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="color_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="color_2" value="999"/>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="span1">
					Estilo
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="estilo_1" value=""/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="estilo_2" value="ZZZZZZZZZZZZZ"/>
					</div>
				</div>
				<div class="span1">
					Tallas
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="talla_1" value="1"/>
					</div>
				</div>
				<div class="span2">
					<div class="input-control text">
						<input type="text" id="talla_2" value="99.9"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="bodega" name="tipo" checked/>
				        <span class="check"></span>
				        Bodegas
				    </label>
				</div>
				|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="linea" name="tipo"/>
				        <span class="check"></span>
				        Lineas
				    </label>
				</div>
				|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="proveedor" name="tipo"/>
				        <span class="check"></span>
				        Proveedores
				    </label>
				</div>
				|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="estilo" name="tipo"/>
				        <span class="check"></span>
				        Estilos
				    </label>
				</div>
				|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="color" name="tipo"/>
				        <span class="check"></span>
				        Colores
				    </label>
				</div>
				|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="talla" name="tipo"/>
				        <span class="check"></span>
				        Tallas
				    </label>
				</div>
				|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="provmar" name="tipo"/>
				        <span class="check"></span>
				        Proveedor y marcas
				    </label>
				</div>
				<!--|
				<div class="input-control radio">
				    <label>
				        <input type="radio" value="detallado" name="tipo"/>
				        <span class="check"></span>
				        Detallado
				    </label>
				</div>-->
			</div>
		</div>
	</div>
</div>
<p>
	<br/>
</p>
<div class="panel span12" data-role="panel">
	<div class="panel-header">
		<i class="icon-database"></i>
		Vista previa
	</div>
	<div class="panel-content">
		<div class="res" id="bodega">
			<div id="bigbox" style="margin:15px;display:!none;">
               	<div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="linea">
			<div id="bigbox2" style="margin:15px;display:!none;">
               	<div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="proveedor" style="overflow-y: hidden;overflow-x:auto;padding-bottom: 5px;">
			<div id="bigbox3" style="margin:15px;display:!none;">
               	<div id="gridbox3" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="estilo" style="overflow-y: hidden;overflow-x:auto;padding-bottom: 5px;">
			<div id="bigbox4" style="margin:15px;display:!none;">
               	<div id="gridbox4" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="color" style="overflow-y: hidden;overflow-x:auto;padding-bottom: 5px;">
			<div id="bigbox5" style="margin:15px;display:!none;">
               	<div id="gridbox5" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="talla" style="overflow-y: hidden;overflow-x:auto;padding-bottom: 5px;">
			<div id="bigbox6" style="margin:15px;display:!none;">
               	<div id="gridbox6" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="provmar" style="overflow-y: hidden;overflow-x:auto;padding-bottom: 5px;">
			<div id="bigbox7" style="margin:15px;display:!none;">
               	<div id="gridbox7" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
		<div class="res" id="detallado">
			<div id="bigbox8" style="margin:15px;display:!none;">
               	<div id="gridbox8" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
            	</div>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var f 	 = new Date();
		var anio = f.getFullYear();
		var mes  = (f.getMonth() + 1);
		var dia = f.getDate()+1;
		
		var fecha = anio+"/"+mes+"/"+dia;
		
		$("#saldos").datepicker({
			date: fecha, // set init date
			format: "yyyy/m/d", // set output format
			effect: "slide", // none, slide, fade
			position: "bottom", // top or bottom,
			locale: 'es', // 'ru' or 'en', default is $.Metro.currentLocale
		});
		
		$('input[name=tipo]:radio').bind('change', function(){
			$('.res').css('display', 'none');
			$('#'+$('input:radio[name=tipo]:checked').val()).css('display', 'block');
		});
		
		$('input[name=tipo]:radio').change();
	
		$('#btnPreview').bind('click',function(){
			var filtros = [];
			var grid = null;
	
            var fecha = $('#fecha').val().trim();
            var bodega_1 = $('#bodega_1').val().trim();
            var bodega_2 = $('#bodega_2').val().trim();
            var linea_1 = $('#linea_1').val().trim();
            var linea_2 = $('#linea_2').val().trim();
            var proveedor_1 = $('#proveedor_1').val().trim();
            var proveedor_2 = $('#proveedor_2').val().trim();
            var estilo_1 = $('#estilo_1').val().trim();
			var estilo_2 = $('#estilo_2').val().trim();
			var catalogo_1 = $('#catalogo_1').val().trim();
			var catalogo_2 = $('#catalogo_2').val().trim();
			var pagina_1 = $('#pagina_1').val().trim();
			var pagina_2 = $('#pagina_2').val().trim();
			var color_1 = $('#color_1').val().trim();
			var color_2 = $('#color_2').val().trim();
			var talla_1 = $('#talla_1').val().trim();
			var talla_2 = $('#talla_2').val().trim();
			var seleccionado = "no";
			var pc = "no";
			var pv = "no";

			if( $('#suprimir_cero').is(':checked') ) {
			    seleccionado = "si";
			}
			
			if( $('#mostrar_pc').is(':checked') ) {
			    pc = "si";
			}
			
			if( $('#mostrar_pv').is(':checked') ) {
			    pv = "si";
			}

            if (bodega_1 != "" && bodega_2 != "") {
				filtros.push([['bodega.id', bodega_1].join(":"),['bodega.id', bodega_2].join(":")].join(";"));
			}
			
            if (linea_1 != "" && linea_2 != "") {
				filtros.push([['articulo.linea', linea_1].join(":"),['articulo.linea', linea_2].join(":")].join(";"));
			}
			
			if (proveedor_1 != "" && proveedor_2 != "") {
				filtros.push([['producto.proveedor', proveedor_1].join(":"),['producto.proveedor', proveedor_2].join(":")].join(";"));;
			}
			
			if (estilo_2 != "") {
				filtros.push([['articulo.estilo', estilo_1].join(":"),['articulo.estilo', estilo_2].join(":")].join(";"));
			}
			
			if (catalogo_1 != "" && catalogo_2 != "") {
				filtros.push([['producto.catalogo', catalogo_1].join(":"),['producto.catalogo', catalogo_2].join(":")].join(";"));
			}
			
			if (pagina_1 != "" && pagina_2 != "") {
				filtros.push([['producto.n_pagina', pagina_1].join(":"),['producto.n_pagina', pagina_2].join(":")].join(";"));
			}
			
			if (color_1 != "" && color_2 != "") {
				filtros.push([['articulo.color', color_1].join(":"),['articulo.color', color_2].join(":")].join(";"));
			}	
			
			if (talla_1 != "" && talla_2 != "") {
				filtros.push([['articulo.talla', talla_1].join(":"),['articulo.talla', talla_2].join(":")].join(";"));
			}	
			
			
			
			grid = Sigma.$grid("bodega_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_bodega?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			grid = Sigma.$grid("linea_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_linea?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			grid = Sigma.$grid("proveedor_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_proveedor?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			grid = Sigma.$grid("estilo_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_estilo?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			grid = Sigma.$grid("color_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_color?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			grid = Sigma.$grid("talla_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_talla?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			grid = Sigma.$grid("provmar_grid");
            grid.loadURL = '/inventario/grid_tables/reporteInventario_provmar?filtros=' + filtros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
            grid.reload();
			
		});
		
		$('#btnReport').bind('click', function(){
			var filtros = [];
			var grid = null;
	
            var fecha = $('#fecha').val().trim();
            var bodega_1 = $('#bodega_1').val().trim();
            var bodega_2 = $('#bodega_2').val().trim();
            var linea_1 = $('#linea_1').val().trim();
            var linea_2 = $('#linea_2').val().trim();
            var proveedor_1 = $('#proveedor_1').val().trim();
            var proveedor_2 = $('#proveedor_2').val().trim();
            var estilo_1 = $('#estilo_1').val().trim();
			var estilo_2 = $('#estilo_2').val().trim();
			var catalogo_1 = $('#catalogo_1').val().trim();
			var catalogo_2 = $('#catalogo_2').val().trim();
			var pagina_1 = $('#pagina_1').val().trim();
			var pagina_2 = $('#pagina_2').val().trim();
			var color_1 = $('#color_1').val().trim();
			var color_2 = $('#color_2').val().trim();
			var talla_1 = $('#talla_1').val().trim();
			var talla_2 = $('#talla_2').val().trim();
			var seleccionado = "no";
			var pc = "no";
			var pv = "no";

			if( $('#suprimir_cero').is(':checked') ) {
			    seleccionado = "si";
			}
			
			if( $('#mostrar_pc').is(':checked') ) {
			    pc = "si";
			}
			
			if( $('#mostrar_pv').is(':checked') ) {
			    pv = "si";
			}

            if (bodega_1 != "" && bodega_2 != "") {
				filtros.push([['bodega.id', bodega_1].join(":"),['bodega.id', bodega_2].join(":")].join(";"));
			}
			
            if (linea_1 != "" && linea_2 != "") {
				filtros.push([['articulo.linea', linea_1].join(":"),['articulo.linea', linea_2].join(":")].join(";"));
			}
			
			if (proveedor_1 != "" && proveedor_2 != "") {
				filtros.push([['producto.proveedor', proveedor_1].join(":"),['producto.proveedor', proveedor_2].join(":")].join(";"));;
			}
			
			if (estilo_2 != "") {
				filtros.push([['articulo.estilo', estilo_1].join(":"),['articulo.estilo', estilo_2].join(":")].join(";"));
			}
			
			if (catalogo_1 != "" && catalogo_2 != "") {
				filtros.push([['producto.catalogo', catalogo_1].join(":"),['producto.catalogo', catalogo_2].join(":")].join(";"));
			}
			
			if (pagina_1 != "" && pagina_2 != "") {
				filtros.push([['producto.n_pagina', pagina_1].join(":"),['producto.n_pagina', pagina_2].join(":")].join(";"));
			}
			
			if (color_1 != "" && color_2 != "") {
				filtros.push([['articulo.color', color_1].join(":"),['articulo.color', color_2].join(":")].join(";"));
			}	
			
			if (talla_1 != "" && talla_2 != "") {
				filtros.push([['articulo.talla', talla_1].join(":"),['articulo.talla', talla_2].join(":")].join(";"));
			}	
			
			var cadFiltros = JSON.stringify(filtros);
			
			var tipo = $('input:radio[name=tipo]:checked').val();
			
			var uri = '/inventario/inventario/imprimir_reporteInventario?typeReport='+tipo+'&filtros='+cadFiltros+'&fecha='+fecha+'&suprimir='+seleccionado+'&pc='+pc+'&pv='+pv;
			window.open(uri, '_blank');
		});
	});
</script>
<script type="text/javascript">
	var grid_bodega_id = "bodega_grid";

    var dsOption_bodega = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };

    var colsOption_bodega = [
        {id: 'nombre_bodega', header: "Bodega", width: 287},
        {id: 'pares', header: "Pares", width: 150},
        {id: 'total_costo', header: "Total costo", width: 150},
        {id: 'total_precio', header: "Total precio", width: 150},
        {id: 'margen', header: "Margen", width: 150}

    ];

    var gridOption_bodega = {
        id: grid_bodega_id,
        loadURL: '/inventario/grid_tables/reporteInventario_bodega',
        saveURL: '',
        width: "890", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_bodega,
        columns: colsOption_bodega,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridbodega = new Sigma.Grid(gridOption_bodega);
    Sigma.Util.onLoad(function() {
        mygridbodega.render();
    });
</script>
<script type="text/javascript">
	var grid_linea_id = "linea_grid";

    var dsOption_linea = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };
	
    var colsOption_linea = [
        {id: 'nombre_bodega', header: "Bodega", width: 250},
		{id: 'nombre_linea', header: "Linea", width: 137},
        {id: 'pares', header: "Pares", width: 125},
        {id: 'total_costo', header: "Total costo", width: 125},
        {id: 'total_precio', header: "Total precio", width: 125},
        {id: 'margen', header: "Margen", width: 125}

    ];

    var gridOption_linea = {
        id: grid_linea_id,
        loadURL: '/inventario/grid_tables/reporteInventario_linea',
        saveURL: '',
        width: "890", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox2',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_linea,
        columns: colsOption_linea,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridlinea = new Sigma.Grid(gridOption_linea);
    Sigma.Util.onLoad(function() {
        mygridlinea.render();
    });
</script>
<script type="text/javascript">
	var grid_proveedor_id = "proveedor_grid";

    var dsOption_proveedor = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };
	
    var colsOption_proveedor = [
        {id: 'nombre_bodega', header: "Bodega", width: 250},
		{id: 'nombre_linea', header: "Linea", width: 150},
		{id: 'nombre_proveedor', header: "Proveedor", width: 150},
        {id: 'pares', header: "Pares", width: 125},
        {id: 'total_costo', header: "Total costo", width: 125},
        {id: 'total_precio', header: "Total precio", width: 125},
        {id: 'margen', header: "Margen", width: 125}

    ];

    var gridOption_proveedor = {
        id: grid_proveedor_id,
        loadURL: '/inventario/grid_tables/reporteInventario_proveedor',
        saveURL: '',
        width: "1053", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox3',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_proveedor,
        columns: colsOption_proveedor,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridproveedor = new Sigma.Grid(gridOption_proveedor);
    Sigma.Util.onLoad(function() {
        mygridproveedor.render();
    });
</script>
<script type="text/javascript">
	var grid_estilo_id = "estilo_grid";

    var dsOption_estilo = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };
	
    var colsOption_estilo = [
        {id: 'nombre_bodega', header: "Bodega", width: 250},
		{id: 'nombre_linea', header: "Linea", width: 150},
		{id: 'nombre_proveedor', header: "Proveedor", width: 150},
		{id: 'estilo', header: "Estilo", width: 150},
        {id: 'pares', header: "Pares", width: 125},
        {id: 'total_costo', header: "Total costo", width: 125},
        {id: 'total_precio', header: "Total precio", width: 125},
        {id: 'margen', header: "Margen", width: 125},
		{id: 'costo_unitario', header: "Costo", width: 125}

    ];

    var gridOption_estilo = {
        id: grid_estilo_id,
        loadURL: '/inventario/grid_tables/reporteInventario_estilo',
        saveURL: '',
        width: "1327", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox4',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_estilo,
        columns: colsOption_estilo,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridestilo = new Sigma.Grid(gridOption_estilo);
    Sigma.Util.onLoad(function() {
        mygridestilo.render();
    });
</script>
<script type="text/javascript">
	var grid_color_id = "color_grid";

    var dsOption_color = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };
	
    var colsOption_color = [
        {id: 'nombre_bodega', header: "Bodega", width: 250},
		{id: 'nombre_linea', header: "Linea", width: 150},
		{id: 'nombre_proveedor', header: "Proveedor", width: 150},
		{id: 'estilo', header: "Estilo", width: 150},
		{id: 'nombre_color', header: "Color", width: 150},
        {id: 'pares', header: "Pares", width: 125},
        {id: 'total_costo', header: "Total costo", width: 125},
        {id: 'total_precio', header: "Total precio", width: 125},
        {id: 'margen', header: "Margen", width: 125},
		{id: 'costo_unitario', header: "Costo", width: 125}

    ];

    var gridOption_color = {
        id: grid_color_id,
        loadURL: '/inventario/grid_tables/reporteInventario_color',
        saveURL: '',
        width: "1477", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox5',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_color,
        columns: colsOption_color,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridcolor = new Sigma.Grid(gridOption_color);
    Sigma.Util.onLoad(function() {
        mygridcolor.render();
    });
</script>
<script type="text/javascript">
	var grid_talla_id = "talla_grid";

    var dsOption_talla = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };
	
    var colsOption_talla = [
        {id: 'nombre_bodega', header: "Bodega", width: 250},
		{id: 'nombre_linea', header: "Linea", width: 150},
		{id: 'nombre_proveedor', header: "Proveedor", width: 150},
		{id: 'estilo', header: "Estilo", width: 150},
		{id: 'nombre_color', header: "Color", width: 150},
		{id: 'talla', header: "Talla", width: 150},
        {id: 'pares', header: "Pares", width: 125},
        {id: 'total_costo', header: "Total costo", width: 125},
        {id: 'total_precio', header: "Total precio", width: 125},
        {id: 'margen', header: "Margen", width: 125},
		{id: 'costo_unitario', header: "Costo", width: 125}

    ];

    var gridOption_talla = {
        id: grid_talla_id,
        loadURL: '/inventario/grid_tables/reporteInventario_talla',
        saveURL: '',
        width: "1627", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox6',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_talla,
        columns: colsOption_talla,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridtalla = new Sigma.Grid(gridOption_talla);
    Sigma.Util.onLoad(function() {
        mygridtalla.render();
    });
</script>
<script type="text/javascript">
	var grid_provmar_id = "provmar_grid";

    var dsOption_provmar = {
        fields: [
            {name: 'id'}
        ],
        recordType: 'object'
    };
	
    var colsOption_provmar = [
        {id: 'nombre_bodega', header: "Bodega", width: 250},
		{id: 'nombre_linea', header: "Linea", width: 150},
		{id: 'nombre_proveedor', header: "Proveedor", width: 150},
		{id: 'nombre_marca', header: "Marca", width: 150},
		{id: 'estilo', header: "Estilo", width: 150},
		{id: 'nombre_color', header: "Color", width: 150},
		{id: 'talla', header: "Talla", width: 150},
        {id: 'pares', header: "Pares", width: 125},
        {id: 'total_costo', header: "Total costo", width: 125},
        {id: 'total_precio', header: "Total precio", width: 125},
        {id: 'margen', header: "Margen", width: 125},
		{id: 'costo_unitario', header: "Costo", width: 125}

    ];

    var gridOption_provmar = {
        id: grid_provmar_id,
        loadURL: '/inventario/grid_tables/reporteInventario_provmar',
        saveURL: '',
        width: "1777", //"100%", // 700,
        height: "290", //"100%", // 330,
        container: 'gridbox7',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption_provmar,
        columns: colsOption_provmar,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };


    var mygridprovmar = new Sigma.Grid(gridOption_provmar);
    Sigma.Util.onLoad(function() {
        mygridprovmar.render();
    });
</script>