<script>
    
    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            
            d.value = val
            d.valant = val
        }
    }
    
    var grid_demo_id = "producto_grid";
    
    var dsOption = {
        fields :[
            {name : 'estilo'},
            {name : 'linea'}, 
            {name : 'codigo_origen'},
            {name : 'descripcion'},
            {name : 'proveedor'},
            {name : 'catalogo'},
            {name : 'n_pagina'},
            {name : 'genero'},
            {name : 'marca'},
            {name : 'propiedad'},
            {name : 'fecha_ingreso'},
            {name : 'nota'}
        ],
        uniqueField: 1,
        recordType : 'object'
    }

    var colsOption = [
        {id: 'estilo', header: "Estilo", width :60},
        {id: 'linea', header: "Linea", width  :50},
        {id: 'codigo_origen', header: "Código de origen", width :110},
        {id: 'descripcion', header: "Descripción", width :250},
        {id: 'catalogo', header: "Catálogo", width :70},
        {id: 'n_pagina', header: "N. Página", width :70},
        {id: 'fecha_ingreso', header: "Ingresa el", width :150}
    ];
    
    var gridOption = {
        id : grid_demo_id,
        loadURL : '/{systemModuleName}/inventario/cargarResumenProd',
        saveURL : '',
        width: "762", //"100%", // 700,
        height: "380", //"100%", // 330,
        container : 'gridbox',
        replaceContainer : true,
        encoding : 'UTF-8', // Sigma.$encoding(), 
        dataset : dsOption,
        columns : colsOption,
        showGridMenu : false,
        allowHide : true,
        allowGroup  : true,
        clickStartEdit : false,
        pageSize:15,
        remotePaging: true,
        remoteSort: true,
        autoLoad: true,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent : 'filter | nav state'
    };
            
    var mygrid = new Sigma.Grid( gridOption );
    
    Sigma.Util.onLoad(function(){
        mygrid.render()
    });
    
    
    $(document).ready(function(){
        
        $('#estilo').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

            if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#linea').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

             if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#codigo_origen').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

             if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#catalogo').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

             if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#descripcion').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

            if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#pagina').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

            if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#del').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

             if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
       
       $('#al').bind('change', function(){

            // obtiene tanto la linea como el estilo
            var linea = $('#linea').val().trim();
            var estilo = $('#estilo').val().trim();
            var codigo_origen = $('#codigo_origen').val().trim();
            var descripcion = $('#descripcion').val().trim();
            var catalogo = $('#catalogo').val().trim();
            var pagina = $('#pagina').val().trim();
            var del = $('#del').val().trim();
            var al = $('#al').val().trim();
            
            var filtros = [];

             if (linea != "") filtros.push(['linea', linea].join(":"));
            if (estilo != "") filtros.push(['estilo', estilo].join(":"));
            if (codigo_origen != "") filtros.push(['codigo_origen', codigo_origen].join(":"));
            if (descripcion != "") filtros.push(['descripcion', descripcion].join(":"));
            if (catalogo != "") filtros.push(['catalogo', catalogo].join(":"));
            if (pagina != "") filtros.push(['n_pagina', pagina].join(":"));
            
    

            // aplicamos el filtro
            var grid = Sigma.$grid("producto_grid");
            grid.loadURL = '/{systemModuleName}/inventario/cargarResumenProd?filtros=' + filtros+'&del='+del+'&al='+al;
            grid.reload();

       });
        
    });

</script>

<h2>Productos registrados en el sistema</h2>
<p class="text-muted">Consulte el catálogo de productos</p>
<hr/>
<div class="grid">
    <div class="row">
        <div class="panel span10">
            <div class="panel-header"> 
                <i class="icon-filter"></i> Filtrar registros del catálogo 
            </div>
            <div class="panel-content">
                <div class="grid">
                    <div class="row">
                        <div class="span2">
                            <div class="input-control text">
                                Estilo
                                <br/>
                                <input id="estilo" type="text" placeholder="Ej: 1001"/>
                            </div>    
                        </div>
                        <div class="span2">
                            <div class="input-control text">
                                Código de linea
                                <br/>
                                <input id="linea" type="text" placeholder="Ej: 1"/>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="input-control text">
                                Código de origen
                                <br/>
                                <input id="codigo_origen" type="text" placeholder="Ej: ATX-001"/>
                            </div>
                        </div> 
                        <div class="span3">
                            <div class="input-control text">
                                Descripción
                                <br/>
                                <input id="descripcion" type="text" placeholder="Ej: Calzado para caballero"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span2">
                            <div class="input-control text">
                                Código de catálogo
                                <br/>
                                <input id="catalogo" type="text" placeholder="Ej: 28"/>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="input-control text">
                                No. Pag
                                <br/>
                                <input id="pagina" type="text" placeholder="Página"/>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="input-control text">
                                Ingresado del
                                <br/>
                                <input id="del" type="text" placeholder="aaaa/mm/dd"  onkeyup="mascara(this, '/', patron_fecha, true)" maxlength="10"/>
                            </div>    
                        </div>
                        <div class="span2">
                            <div class="input-control text">
                                Al
                                <br/>
                                <input id="al" type="text" placeholder="aaaa/mm/dd"  onkeyup="mascara(this, '/', patron_fecha, true)" maxlength="10"/>
                            </div>    
                        </div>
                    </div>
                </div>         
            </div>
        </div> 
        <div class="span5">
            <div class="panel">
                <div class="panel-header">
                    <i class="icon-info"></i> Consejo
                </div>
                <div class="panel-content">
                    <p>
                        Para aplicar los filtros escriba los parámetros de búsqueda sobre los campos de la izquierda.
                        Una vez haya cambiado el valor presione la tecla tabulador en su teclado  (<i class="icon-tab-2"></i>) y el filtro
                        se aplicará de forma automática. 
                    </p>    
                </div>
            </div>
        </div> 
    </div>
</div>
<br/>
<div class="grid">
    <div class="row">
        <div class="span10">
            <div class="panel">
               <div class="panel-header">
                   <i class="icon-database"></i> Productos
               </div>
               <div class="panel-content">
                  <div id="bigbox" style="margin:0px;display:!none;">
                    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
                
                    </div>
                </div> 
               </div>
            </div>
        </div>
        <div class="span5">
            <div class="panel">
                <div class="panel-header">
                    <i class="icon-info"></i> Consejo
                </div>
                <div class="panel-content">
                    <p>
                        Si desea más información sobre un producto digite el estilo del producto
                        en la barra de búsqueda y presione el botón de búsqueda para obtener información
                        detallada.
                    </p>    
                    <p>
                        <br/>   
                        <img src="../static/img/barra.png" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

