<script type="text/javascript" >

    // GRID INVENTARIO

    var grid_inventario = "grid_inventario";
    
    // verifica valores en blanco y los pone a cero
    function stock_render(value, record, columnObj, grid, colNo, rowNo)
    {
        if (value == "" || value == " " || value == null){
            return "0";
        } 
        else
        {
            return value;
        }
    }

    function currency_render(value, record, columnObj, grid, colNo, rowNo) {
        return "$" + value;
    }

    // enlace de eliminado para los grid
    function eliminar_render(value, record, columnObj, grid, colNo, rowNo)
    {
        data = {
            "id": record['id']
        };
            
        return '<a href="javascript: void(0);" onclick="del_detalle('+data.id+'); ">Eliminar</a>';
    }


    // funcion para eliminar del detalle un item
    function del_detalle(id) {

        var id_ref = {idencabezado};

        data = {
            "id": id
        }

        var uri = "/inventario/inventario/EliminarDetalleTraslado";

        if (confirm("Quiere eliminar el registro?")) {
            var jqr = $.post(uri, data, function (data) {
                var grid = Sigma.$grid("genero2_grid");
                grid.reload();
                angular.element('#trasladodiv').scope().vm.CargarTraslado({idencabezado});
                angular.element('#trasladodiv').scope().vm.$apply(); 
            }, "json");
        }

    }


    // genera input para ingreso de cantidades
    function input_render(value, record, columnObj, grid, colNo, rowNo)
    {
        string_ = record['id_linea'] + '_' + record['estilo'] + '_' + record['id_color'] + '_' + record['talla'] + '_' + record['costo'];
            
        return '<input type="text" value="0" class="items" id="' + string_ + '"/>';
    }

    var dsOptionsInventario = {

        fields :[
            {name : 'linea'  },
            {name : 'estilo'  },
            {name : 'color'  },
            {name : 'talla'  },
            {name : 'bodega'  },
            {name : 'costo'  }
        ],
        
        recordType : 'object'
    }

    var colsOptionInventario = [
        {id: 'id_linea', header: "Linea", width :40 },
        {id: 'estilo', header: "Estilo", width :100},
        {id: 'id_color', header: "Color", width :45},
        {id: 'talla', header: "Talla", width :50},
        {id: 'ingresan', header: "Ingresan", width :60, renderer:input_render},
        {id: 'stock', header: "Stock", width :50, renderer:stock_render},
        {id: 'costo', header: "Costo", width :100, editor:"text"},
        {id: 'precio', header: "Precio", width :100},
        {id: 'bodega', header: "Bodega", width :100}
    ];
            
    var gridOptionInventario = {
        id : grid_inventario,
        loadURL : '/inventario/inventario/CargarEstadoInventario?linea=0&estilo=0&color=0&proveedor=0&bodega=0',
        saveURL : '',
        width: "100%", //"100%", // 700,
        height: "329", //"100%", // 330,
        container : 'gridbox',
        replaceContainer : true,
        encoding : 'UTF-8', // Sigma.$encoding(), 
        dataset : dsOptionsInventario,
        columns : colsOptionInventario,
        allowCustomSkin: true,
        skin: 'mac',
        clickStartEdit : true,
        remotePaging : true,
        autoLoad: false,
        pageSize:10,
        toolbarContent : 'reload | filter | nav state'
    };
            
    var mygrid = new Sigma.Grid(gridOptionInventario);
    
    Sigma.Util.onLoad(function()
    {
            mygrid.render();
    });
            
    /* GRID DETALLE TRASLADO */
            
    var grid_demo2_id = "genero2_grid";
    
    var dsOption2 = {
        fields :[
            {name : 'id'  },
            {name : 'nombre'  }
        ],
        
        recordType : 'object'
    }

    var colsOption2 = [
        { id: 'linea', header: "Linea", width: 80 },
        { id: 'estilo', header: "Estilo", width: 80 },
        { id: 'color', header: "Color", width: 80 },
        { id: 'talla', header: "Talla", width: 80 },
        { id: 'costo', header: "Costo", width: 80, renderer: currency_render },
        { id: 'cantidad', header: "Cantidad", width: 80 },
        { id: 'total', header: "Total", width: 80, renderer: currency_render },
        { id: 'accion', header: "Opciones", width: 80, renderer: eliminar_render }
    ];
            
    var gridOption2 = {
        id : grid_demo2_id,
        loadURL: '/inventario/inventario/VerDetalleTraslado?id={idencabezado}',
        saveURL : '',
        width: "645", //"100%", // 700,
        height: "260", //"100%", // 330,
        container : 'gridbox2',
        replaceContainer : true,
        encoding : 'UTF-8', // Sigma.$encoding(), 
        dataset : dsOption2,
        allowCustomSkin: true,
        skin: 'mac',
        columns : colsOption2,
        clickStartEdit : true,
        defaultRecord : {'id':"00", 'nombre':""},
        pageSize:10,
        toolbarContent : 'reload | filter | nav state'
    };

    var mygrid2 = new Sigma.Grid(gridOption2);
    
    Sigma.Util.onLoad(function(){
        mygrid2.render();
    });
            


    // Aplica los cambios al documento y baja al segundo grid
    function commit()
    {
        var info = [];

        $('.items').each(function(){
            if ($(this).val().trim() != "" && $(this).val() > 0){
                var data = $(this).attr('id').split('_');
                var data_send = {
                    "id_ref":   {idencabezado},
                    "linea":  	data[0],
                    "estilo": 	data[1],
                    "color": 	data[2],
                    "talla": 	data[3],
                    "costo":   	data[4],
                    "cantidad": $(this).val()
                };
                if( (data[4]>0) && ($(this).val() > 0) ){
                    info.push(data_send);
                }
                $(this).val(0);
            }
        });
            
        var send = { "productos": JSON.stringify(info) };
        var df = $.post('/inventario/inventario/salvarTrasladoDetalle', send, function(){
            var grid = Sigma.$grid("genero2_grid");
            grid.reload();
            angular.element('#trasladodiv').scope().vm.CargarTraslado({idencabezado});
            angular.element('#trasladodiv').scope().vm.$apply(); 
        }, "json");
    }

</script>
<section id="trasladodiv" ng-controller="TrasladoController as vm" ng-init="vm.IdTraslado={idencabezado}; vm.CargarTraslado(vm.IdTraslado);">
    <div class="grid">
        <div class="row">
            <div class="panel span5">
                <div class="panel-header">
                    <i class="icon-new"></i> Información de la transacción
                </div>
                <div class="panel-content">
                    Origen
                    <div class="input-control select disabled">
                        <select ng-model="vm.DatosTraslado.bodega_origen" disabled>
                            <option ng-repeat="bodega in vm.ListaDeBodegas" value="{{bodega.id}}">
                                {{bodega.nombre}}
                            </option>
                        </select>
                    </div>
                    <br />
                    Destino
                    <div class="input-control select disabled">
                        <select ng-model="vm.DatosTraslado.bodega_destino" disabled>
                            <option ng-repeat="bodega in vm.ListaDeBodegas" value="{{bodega.id}}">
                                {{bodega.nombre}}
                            </option>
                        </select>
                    </div>
                    <br />
                    Proveedor
                    <div class="input-control select disabled">
                        <select ng-model="vm.DatosTraslado.proveedor_nacional" disabled>
                            <option ng-repeat="proveedor in vm.ListaDeProveedores" value="{{proveedor.id}}">
                                {{proveedor.nombre}}
                            </option>
                        </select>
                    </div>
                    <br />
                    Linea
                    <div class="input-control text">
                        <input type="text" ng-model="vm.DatosTraslado.linea" />
                    </div>
                    <br />
                    Estilo
                    <div class="input-control text">
                        <input type="text" ng-model="vm.DatosTraslado.estilo" />
                    </div>
                    <br />
                    Color
                    <div class="input-control text">
                        <input type="text" ng-model="vm.DatosTraslado.color" />
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="panel span9">
                <!-- GRID PRINCIPAL -->
                <div class="panel-header">
                    &nbsp;&nbsp;&nbsp;&nbsp;Tipo de transacción: {{vm.DatosTraslado.transaccion}} | 
                    <button class="primary" id="btnAplicar" onclick="commit();">Agregar</button>
                </div>
                <div class="panel-content">
                    <div id="bigbox" style="margin:15px;display:!none;">
                        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <!-- DETALLE -->
    <div class="grid">
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    Detalle
                </div>
                <div class="panel-content">
                    <div class="grid">
                        <div class="row">
                            <div class="span9">
                                <div id="bigbox2" style="margin:15px;display:!none;">
                                    <div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div style="text-align: center; border: solid 1px #d3d3d3; padding: 25px; margin-top: 15px; border-radius: 10px 10px; background-color: #f3f3f3;">
                                    <h4>Costo total:</h4> 
                                    <h4>{{vm.DatosTraslado.total_costo | currency}}</h4>
                                    <br/>
                                    <h4># Pares: </h4>
                                    <h4>{{vm.DatosTraslado.total_pares}}</h4>
                                    <br/>
                                    <button class="success large" ng-click="vm.ProcesarTraslado();" id="btnGuardar">Confirmar transacción</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>