<script>
    var grid_historial_id = "historial_grid";

    var dsOption_historial = {
        fields: [
            { name: 'id' },
            { name: 'editable' },
            { name: 'inicio' },
            { name: 'final' },
            { name: 'nombre' }
        ],
        recordType: 'object'
    };

    var colsOption_historial = [
        { id: 'fecha', header: "Fecha", width: 100 },
        { id: 'transaccion', header: "Tipo", width: 50 },
        { id: 'cod', header: "# Doc", width: 50 },
        { id: 'concepto', header: "Concepto", width: 170 },
        { id: 'total_pares', header: "Cantidad total", width: 100 },
        { id: 'total_costo', header: "Costo total", width: 100 },
        { id: 'editable', header: "Acciones", width: 100, renderer: Editar }
    ];

    var gridOption_historial = {
        id: grid_historial_id,
        loadURL: '/inventario/inventario/HistorialTraslados',
        saveURL: '',
        width: "730", //"100%", // 700,
        height: "360", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(),
        dataset: dsOption_historial,
        columns: colsOption_historial,
        clickStartEdit: true,
        defaultRecord: { 'id': "00", 'nombre': "" },
        pageSize: 200,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | nav state'
    };

    function Editar(value, record, columnObj, grid, colNo, rowNo) {
        var editable = record['editable'];
        var id = record['id'];

        if(editable){
            return '<a href="javascript: void(0);" onclick="AbrirDocumento(' + id + ');"> Editar traslado</a>';
        } else {
            return '<a href="{REPORT_SERVER_URL}?/Traslados/Documento+traslado&rs:Command=Render&idtraslado=' + id + '" target="_blank"> Imprimir traslado</a>';
        }
    }

    function AbrirDocumento(id) {
        location.href = "/inventario/inventario/detalle_traslado?id=" + id;
    }


    var mygrid = new Sigma.Grid(gridOption_historial);
    Sigma.Util.onLoad(function () {
        mygrid.render();
    });

</script>
<section ng-controller="TrasladoController as vm">
    <div class="grid">
        <div class="row">
            <div class="panel span6">
                <div class="panel-header">
                    <i class="icon-new"></i> Información de la transacción
                </div>
                <div class="panel-content">
                    <br />
                    <input type="hidden" ng-model="vm.IdTraslado" ng-init="vm.IdTraslado = {idencabezado}"/>
                    <label>Tipo de transacción</label>
                    <div class="input-control select">
                        <select ng-model="vm.Traslado.tipoTransaccion">
                            <option ng-repeat="transaccion in vm.ListaDeTransacciones" value="{{transaccion.cod}}">
                                {{transaccion.nombre}}
                            </option>
                        </select>
                    </div>
                    <br/>
                    <label>Código de cliente</label>
                    <div class="input-control text">
                        <div class="input-control text">
                            <input type="text" ng-model="vm.Traslado.cliente" />
                        </div>
                    </div>
                    <!--<br />
                    <label>Referencia retaceo No.</label>
                    <div class="input-control text">
                        <input type="text" id="referencia_retaceo" name="referencia_retaceo" onclick="$('#windowPendientes').css('display','block');" placeholder="Prorrateo de gastos de adquisición" />
                    </div>-->
                    <br />
                    <label>Proveedor Origen</label>
                    <div class="input-control select">
                        <div class="input-control select">
                            <select ng-model="vm.Traslado.proveedorOrigen">
                                <option ng-repeat="proveedor in vm.ListaDeProveedores" value="{{proveedor.id}}">
                                    {{proveedor.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <label>Proveedor Nacional (importador)</label>
                    <div class="input-control select">
                        <select ng-model="vm.Traslado.proveedorNacional">
                            <option ng-repeat="proveedor in vm.ListaDeProveedores" value="{{proveedor.id}}">
                                {{proveedor.nombre}}
                            </option>
                        </select>
                    </div>
                    <br />
                    <label>Bodega de origen</label>
                    <div class="input-control select">
                        <select ng-model="vm.Traslado.bodegaOrigen">
                            <option ng-repeat="bodega in vm.ListaDeBodegas" value="{{bodega.id}}">
                                {{bodega.nombre}}
                            </option>
                        </select>
                    </div>
                    <br />
                    <label>Bodega de destino</label>
                    <div class="input-control select">
                        <select ng-model="vm.Traslado.bodegaDestino">
                            <option ng-repeat="bodega in vm.ListaDeBodegas" value="{{bodega.id}}">
                                {{bodega.nombre}}
                            </option>
                        </select>
                    </div>
                    <br />
                    <label>Concepto de la transacción</label>
                    <div class="input-control text">
                        <input type="text" ng-model="vm.Traslado.conceptoTransaccion" />
                    </div>
                    <br/><br />
                    <button type="button" class="button primary" ng-click="vm.InsertarTraslado();">Realizar Traslado</button>
                </div>
            </div> 
            <div class="panel span10">
                <div class="panel-header">
                    Lista de traslados
                </div>
                <div class="panel-content">
                    <div id="bigbox" style="margin:15px;display:!none;">
                        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div id="windowPendientes" class="window flat shadow span10" style="position: fixed; top: 100px; left:50%; margin-left: -400px; display: none; z-index: 10000;">
    <div class="caption">
        <span class="icon icon-search"></span> 
        <div class="title">Hojas de retaceo confirmadas (sin aplicar)</div> 
        <button class="btn-close" onclick="$('#windowPendientes').css('display','none');"></button>
    </div>
    <div class="content">
        <table class="table" style="text-align: center;">
            <tr>
                <th>No. documento</th>
                <th>Ref. Pedido</th>
                <th>Fecha documento</th>
                <th>Monto</th>
                <th>Acción</th>
            </tr>
            <tr ng-repeat="retaceo in vm.ListaDeRetaceos">
                <td>{{retaceo.cod}}</td>
                <td>{{retaceo.id_orden_compra}}</td>
                <td>{{retaceo.fecha}}</td>
                <td>${{retaceo.total_gastos}}</td>
                <td><a href="javascript: void(0);" ng-click="vm.AplicarHojaRetaceo(retaceo.cod);">Aplicar</a></td>
            </tr>
        </table>      
    </div>
</div>-->