
<p>
    <br/><br/><br/><br/>
</p>
<div class="panel span8" style="margin: 0 auto;">
    <div  class="panel-header">Se ha denegado el acceso a esta área</div>
    <div class="panel-content">
        <div style="padding:30px;">
            <p class="span1" style="font-size: 60px; float: left;">
                <i class="icon-locked"></i>
            </p>
            <p>
                Lo sentimos pero no posee acceso a esta función del sistema. 
            </p>
            <p>
                Si considera que es un error le sugerimos que contacte
                con el administrador del sistema para solucionar este inconveniente.
            </p>
        </div>
    </div>
</div>