
<p>
    <br/><br/><br/><br/>
</p>
<div class="panel span8" style="margin: 0 auto;">
    <div  class="panel-header">Error 404: No hemos encontrado lo que buscaba!</div>
    <div class="panel-content">
        <div style="padding:30px;">
            <p class="span1" style="font-size: 40px; float: left;">
                <i class="icon-link-2"></i>
            </p>
            <p>
                El recurso solicitado no se encuentra. Esto puede ser debido a: 
                La url ha sido mal escrita o el enlace está roto.
            </p>
        </div>
    </div>
</div>