<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>
    <body class="metro">
        <div id="black_screen" class="black_screen"></div>
        <noscript>
        Para que el sistema trabaje correctamente necesita tener activado Javascript,
        si usted puede leer este mensaje significa que javascript se encuentra desactivado.
        Active Javascript y recarge la p&aacute;gina; si no sabe como activarlo contacte 
        con el administrador.
        </noscript>
        <script>

            $(document).ready(function() {
                //var noti = setInterval( notificaciones , 1000 );
                //var bloq = setInterval( bloqueo , 500 );

                var messages_handler = new url_handler();
                messages_handler.initialize();
                if (messages_handler.isKey('error')) {

                    if (messages_handler.getValue('error') == 1530) {
                        $.Notify({
                            caption: "Error",
                            content: "No tiene permisos"
                        });
                    }
                }
            });

            function mostrarPSearch() {
                $('#searchPBar').animate({'top': 0}, 'medium', function() {
                });
                $('#searchTerm').focus();
            }

            function ocultarPSearch() {
                $('#searchPBar').animate({'top': -200}, 'medium', function() {
                });
                $('#searchPResult').html('<p>Comience a digitar</p>');
                $('#searchTerm').val('');
            }

            function mostrarCSearch() {
                $('#searchCBar').animate({'top': 0}, 'medium', function() {
                });
                $('#searchCTerm').focus();
            }

            function ocultarCSearch() {
                $('#searchCBar').animate({'top': -200}, 'medium', function() {
                });
                $('#searchCResult').html('<p>Comience a digitar</p>');
                $('#searchCTerm').val('');
            }

            $(function() {
                /* BUSQUEDA DE PRODUCTOS */
                $(document).bind('keydown', 'alt+f11', function() {
                    switch ($('#searchPBar').css('top')) {
                        case '-200px':
                            ocultarCSearch();
                            mostrarPSearch();
                            break;
                        case '0px':
                            ocultarPSearch();
                            break;
                        default:
                            ocultarPSearch();
                            break;
                    }

                });

                $(document).bind('keydown', 'alt+f10', function() {
                    switch ($('#searchCBar').css('top')) {
                        case '-200px':
                            ocultarPSearch();
                            mostrarCSearch();
                            break;
                        case '0px':
                            ocultarCSearch();
                            break;
                        default:
                            ocultarCSearch();
                            break;
                    }
                });

                $(document).bind('keydown', 'alt+f12', function() {
                    s = confirm("Desea cerrar la sesion");
                    if (s) {
                        location.href = "/{systemModuleName}/logout/user";
                    }
                });

                $(document).bind('keyup', function(e) {
                    if (e.which == 27) {
                        location.href = "{back_url}";
                    }
                    ;
                });
            });


            function performCSearch(event) {
                $('#searchCResult').html('<img src="../static/img/preload.gif" alt="Preloader">');
                var seTe = $('#searchCTerm').val();
                var uri = "/{systemModuleName}/inventario/performCSearch";
                var request = $.post(uri, {_term: seTe}, function(data) {
                    if (data.status == 200) {
                        $('#searchCResult').html('');
                        table = $('<ul>', {
                            class: 'listview fluid image'
                        });
                        table.css('height', '200px');
                        table.css('overflow', 'auto');
                        for (i = 0; i < data.data.length; i++) {
                            tr = $('<li>', {
                                class: 'bg-color-red fg-color-white'
                            });
                            div = $('<div>', {
                                class: 'icon'
                            });
                            div.html('<img src="../static/img/users/thumbnail_' + data.data[i].codigo_afiliado + '"></img>');
                            div2 = $('<div>', {
                                class: 'data'
                            });

                            str = "<strong class='fg-color-yellow'>Nombre:</strong> " + data.data[i].primer_nombre + " " + data.data[i].primer_apellido;
                            str += "<br/><strong class='fg-color-yellow' class='fg-color-yellow'>Telefono casa:</strong> " + data.data[i].telefono_casa + "<br/><strong class='fg-color-yellow'>Telefono oficina:</strong> " + data.data[i].telefono_oficina + "<br/> <strong class='fg-color-yellow'>Correo:</strong> " + data.data[i].correo_electronico;
                            str += "<br/><strong class='fg-color-yellow'>Dui:</strong> " + data.data[i].dui;
                            p = $('<p>');
                            p.html(str);
                            p.css('text-align', 'left');
                            title = $('<h4 class="fg-color-white">Codigo de afiliaci&oacute;n ' + data.data[i].codigo_afiliado + '</h4>');
                            div2.append(title);
                            div2.append(p);
                            tr.append(div);
                            tr.append(div2);
                            table.append(tr);
                            $('#searchCResult').append(table);
                        }
                    } else {
                        alert(data.status);
                    }
                }, "json");
            }


            function ver_detalle_producto(){

                window.open('/{systemModuleName}/inventario/detalle_de_producto?estilo=' + $('#navBusquedaProducto').val() , '_blank')
            }

            function performPSearch(event) {
                $('#searchPResult').html('<img src="../static/img/preload.gif" alt="Preloader">');
                var seTe = $('#searchTerm').val();
                var uri = "/{systemModuleName}/inventario/performPSearch";
                var request = $.post(uri, {_term: seTe}, function(data) {
                    if (data.status == 200) {
                        $('#searchPResult').html('');
                        table = $('<ul>', {
                            class: 'listview fluid image'
                        });
                        table.css('height', '200px');
                        table.css('overflow', 'auto');
                        for (i = 0; i < data.data.length; i++) {
                            tr = $('<li>', {
                                class: 'selected'
                            });
                            div = $('<div>', {
                                class: 'icon'
                            });

                            div2 = $('<div>', {
                                class: 'data'
                            });
                            div.html('<img src="../static/img/productos/thumbnail_' + data.data[i].estilo + '_' + data.data[i].color + '"></img>');
                            str = "Linea: " + data.data[i].linea + "<br/> Talla: " + data.data[i].talla + "<br/> Color:" + data.data[i].color + "<br/> <strong>Stock:" + data.data[i].stock + "</strong>";
                            p = $('<p>');
                            p.html(str);
                            tr.append(div);
                            title = $('<h4>Producto ' + data.data[i].estilo + '</h4>');
                            div2.append(title);
                            div2.append(p);
                            tr.append(div2);
                            table.append(tr);
                            $('#searchPResult').append(table);
                        }
                    } else {
                        alert(data.status);
                    }
                }, "json");
            }
        </script>

        <nav class="navigation-bar white fixed-top" >
                <nav class="navigation-bar-content">
                    <a href="/{systemModuleName}/inventario/principal" class="element brand">
                        <i class="icon-home"></i>
                        Inicio
                    </a>
                    <span class="element-divider place-left"></span> 

                    <a class="element brand" href="{back_url}"><i class="icon-arrow-left-3"></i></a>
                    

                    <a class="element" href="/{systemModuleName}/inventario/segmentacion"><i class="icon-list"></i> Segmentación</a>
                    <a class="element" href="/{systemModuleName}/inventario/proveedores"><i class="icon-user-2"></i> Proveedores</a>
                    <a class="element" href="/{systemModuleName}/inventario/bodegas"><i class="icon-box"></i> Bodegas</a>
                    <a class="element" href="/{systemModuleName}/inventario/nuevo_producto"><i class="icon-basket"></i> Catálogo</a>
                    <a class="element" href="/{systemModuleName}/inventario/traslados"><i class="icon-tab"></i> Traslados</a>
                    <!--<a class="element" href="/{systemModuleName}/inventario/orden_compra"><i class="icon-clipboard"></i> Compras</a>-->
                    <div class="element">
                        <a class="dropdown-toggle" href="#"><i class="icon-plus-2"></i> Más</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="/{systemModuleName}/inventario/catalogos"><i class="icon-star-3"></i> Campañas</a></li>
                            <!--<li><a href="/{systemModuleName}/inventario/ofertas"><i class="icon-tag"></i> Ofertas</a></li> -->
                            <!--<li><a href="/{systemModuleName}/inventario/cambio_de_linea"> Cambio de linea</a></li>
                            <li><a href="/{systemModuleName}/inventario/cambio_de_grupo"> Cambio de grupo</a></li>-->       
                        </ul>
                    </div>
                    
                    <span class="element-divider"></span>
                    <div class="element input-element">
                        <form>
                            <div class="input-control text">
                                <input id="navBusquedaProducto" type="text" placeholder="Estilo">
                                <button class="btn-search" type="button" onclick="ver_detalle_producto();" ></button>
                            </div>
                        </form>
                    </div>
                    <div class="element place-right">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-cog"></span>
                        </a>
                        <ul class="dropdown-menu place-right" data-role="dropdown">
                            <!--<li><a href="/{systemModuleName}/modulo/cuenta">Cuenta</a></li>-->
                            <div class="divider"></div>
                            <li><a href="/{systemModuleName}/logout/user">Salir</a></li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element place-right">
                        Bienvenido/a {username}
                    </button>
                    <div class="element place-right" >
                        <a href="javascript: void(0);" class="dropdown-toggle" onclick="inboxPreview();"><i class="icon-mail"></i></a>
                        <span id="inboxPending" class="fg-white" style="background: red; border-radius: 100px; width: 18px; height: 18px; display: blocK;text-align: center; font-size: 12px;font-weight: bold; float: right; position: relative; left: -14px;display:none; ">0</span>
                        <ul class="dropdown-menu place-right" id="bandeja" data-role="dropdown" style="padding: 10px; ">
                             <li onclick="location.href='/nymsa/modulo/inboxRead?inboxId=0&Compose=true'"><i class="icon-plus-2"></i> Redactar mensaje </li>   
                            <img id="loader" src="../static/img/loader.gif" />
                        </ul>   
                    </div>
                </nav>
            </nav> 
        <br/>
        <br/>
        <div class="metro">
            <div id="searchPBar" style="max-height:300px;box-shadow:1px 2px 4px #000;position:fixed;left:0px;top:-200px;z-index:1000000;background:#fff;width:100%;padding:20px;">
                <form>
                    <h3>Consulta de stock</h3>
                    <div class="input-control text">
                        <input type="text" id="searchTerm" name="searchTerm" placeholder="Ingrese cadena de b&uacute;squeda..." onkeyup="performPSearch(event);" />
                        <button class="btn-sea rch"></button>
                    </div> 
                </form>
                <div style="text-align:center;" id="searchPResult" style="max-height:100px;overflow:auto;">
                    <p>Comience a digitar</p>
                </div>
            </div>

            <div id="searchCBar" style="max-height:300px;box-shadow:1px 2px 4px #000;position:fixed;left:0px;top:-200px;z-index:1000000;background:#fff;width:100%;padding:20px;">
                <form>
                    <h3>Consulta de clientes</h3>
                    <div class="input-control text">
                        <input type="text" id="searchCTerm" name="searchCTerm" placeholder="Ingrese cadena de b&uacute;squeda..." onkeyup="performCSearch(event);" />
                        <button class="btn-sea rch"></button>
                    </div> 
                </form>
                <div style="text-align:center;" id="searchCResult" style="max-height:100px;overflow:auto;">
                    <p>Comience a digitar</p>
                </div>
            </div>

            <div class="page secondary">
                <!--<div class="page-header">
                  <div class="page-header-content" style="margin-bottom:50px;">
                    <a class="back-button big page-back" href="{back_url}"></a>
                    <h1>{TITULO}</h1>
                    <div class="user-login">
                      <a href="#">
                          <div class="name">
                            <span class="first-name">{username}</span>
                            <span class="last-name" onclick="location.href='/{systemModuleName}/logout/user'">cerrar sesi&oacute;n</span>
                          </div>
                          <div class="avatar">
                            <img src="../static/img/users/{username}.jpg" alt="{username}"/>
                          </div>
                        </a>
                    </div>
                  </div>
                </div>-->

                <div style="padding-left:30px; padding-top: 50px;">
                    {content}
                </div>
            </div> 
        </div>
        <div>
            <div id="bigbox" style="margin:15px;display:!none;">
                <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

                </div>
            </div>
            <div id="bigbox2" style="margin:15px;display:!none;">
                <div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

                </div>
            </div>
            <div id="bigbox3" style="margin:15px;display:!none;">
                <div id="gridbox3" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

                </div>
            </div>
            <div id="bigbox4" style="margin:15px;display:!none;">
                <div id="gridbox4" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

                </div>
            </div>
        </div>
    </body>
</html>
