<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
</head>
<body class="metro" ng-app="ERPapp">
    <noscript>
        Para que el sistema trabaje correctamente necesita tener activado Javascript,
        si usted puede leer este mensaje significa que javascript se encuentra desactivado.
        Active Javascript y recarge la p&aacute;gina; si no sabe como activarlo contacte
        con el administrador.
    </noscript>
    <script>
        function VerificarEntero(a) {
            if (isNaN($(a).val())) {
                $(a).val("0");
            }
        }
    </script>

    <div>
        <nav class="navigation-bar light fixed-top shadow">
            <nav class="navigation-bar-content">
                <a href="/inventario/inventario/principal" class="element brand">
                    <i class="icon-home"></i> Inicio
                </a>
                <span class="element-divider place-left"></span>

                <a class="element brand" href="{back_url}"><i class="icon-arrow-left-3"></i></a>

                <div class="element">
                    <a class="dropdown-toggle" href="#"><i class="icon-tools"></i> Mantenimientos</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li>
                            <a href="/inventario/inventario/segmentacion"><i class="icon-list"></i> Segmentación</a>
                        </li>
                        <li>
                            <a href="/inventario/inventario/bodegas"><i class="icon-box"></i> Bodegas</a>
                        </li>
                        <li>
                            <a href="/inventario/inventario/catalogos"><i class="icon-broadcast"></i> Campañas</a>
                        </li>
                        <li>
                            <a href="/inventario/inventario/nuevo_producto"><i class="icon-basket"></i> Productos</a>
                        </li>
                    </ul>
                </div>
                <a class="element" href="/inventario/inventario/traslados"><i class="icon-tab"></i>   Traslados</a>
                <div class="element">
                    <a class="dropdown-toggle" href="#">Utilería</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a href="{REPORT_URL}Kardex/Catalogo" target="_blank">Catálogo de productos</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle"><i class="icon-printer"></i> Reportes</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li><a href="{REPORT_URL}Kardex/Kardex - Informe" target="_blank">Informe de Kardex</a></li>
                                <li><a href="{REPORT_URL}Reportes administrativos/ReporteVentas_porfecha" target="_blank">Ventas por fecha</a></li>
                                <li><a href="{REPORT_URL}Reportes administrativos/ReporteVentas_porcatalogo" target="_blank">Ventas por catálogo</a></li>
                                <li><a href="{REPORT_URL}Reportes administrativos/ReporteVentas_comparativoda" target="_blank">Comparativo de venta</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="element place-right">
                    <a class="dropdown-toggle" href="#">
                        <span class="icon-cog"></span> &nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-menu place-right" data-role="dropdown">
                        <li><a href="/inventario/logout/user">Salir</a></li>
                    </ul>
                </div>
                <span class="element-divider"></span>
                <button class="element place-right">
                    <i class="icon-user"></i> &nbsp;&nbsp;<strong>{username}</strong>
                </button>
                <span class="element-divider place-right"></span>
                <a class="element place-right" href="#">
                    <p style="margin-top:-5px;">{TITULO}</p>
                </a>
            </nav>
        </nav>
        <div class="page-region" style="padding-left:30px; padding-top: 70px;padding-right: 15px;">
            {content}
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>