<div ng-controller="SegmentacionController as vm">
    <nav class="sidebar light span3" style="float:left;">
        <ul>
            <li class="title">Categorías</li>
            <li class="" ng-repeat="categoria in vm.Categorias"><a href="javascript: void(0);" ng-click="vm.CargarDetalleCategoria(categoria.id_grupo, categoria.grupo_producto);"><i class="{{categoria.icono}}"></i> {{categoria.grupo_producto}}</a></li>
        </ul>
    </nav>

    <div id="scontent" class="span10" style="float:left; margin-left: 50px;">
        <div class="panel span10" data-role="panel">
            <div class="panel-header text-center">
                Segmentación de productos
            </div>
            <div class="panel-content">
                <p class="text-center">
                    Permite clasificar los productos según las características que posee.
                </p>
                <p class="text-center">
                    Seleccione una de las categorías listadas en el panel de la izquierda para agregar, modificar o eliminar elementos de dicha categoría.
                </p>
            </div>
        </div>
        <div style="clear: both;"></div>
        <script type="text/javascript">
            $(document).ready(function() {

                var urlHandler = new url_handler();

                urlHandler.initialize();

                if (urlHandler.isKey('tab')) {
                    var not = $.Notify({
                        caption: "Inserción exitosa",
                        content: "El registro fue almacenado de forma correcta",
                        timeout: 3000,
                        style: {
                            background: 'green',
                            color: 'white'
                        }
                    });
                    cargar(urlHandler.getValue('tab'));
                }


            });

            function cargar(categoria) {
                var uri = "/{systemModuleName}/inventario/";
                var data = {};

                switch (categoria) {
                    case 'linea':
                        uri += "segmentacionLinea";
                        break;
                    case 'color':
                        uri += "segmentacionColor";
                        break;
                    case 'genero':
                        uri += "segmentacionGenero";
                        break;
                    case 'marca':
                        uri += "segmentacionMarca";
                        break;
                    case 'grupo':
                        uri += "segmentacionGrupo";
                        break;
                    case 'concepto':
                        uri += "segmentacionConcepto";
                        break;
                    case 'tacon':
                        uri += "segmentacionTacon";
                        break;
                    case 'suela':
                        uri += "segmentacionSuela";
                        break;
                    case 'material':
                        uri += "segmentacionMaterial";
                        break;
                }

                $.post(uri, data, function(resp) {
                    $('#scontent').html(resp.html);
                }, "json");
            }
        </script>
    </div>