<script>
    function difHandler(event, idInput) {
        clases = idInput.split(' ');
        idInput = clases.join('.');
        $('.d_' + idInput).html(parseFloat($('.f_' + idInput).val()) - parseFloat($('.t_' + idInput).html()));
    }

    $(document).ready(function() {
        $('#inv input').each(function() {
            $(this).change();
        });
    });
</script>
<div>
    <table id="inv" class="table bordered" style="text-align:center;">
        <thead>
            <tr>
                <th>Linea</th>
                <th>Proveedor</th>
                <th>Teorico</th>
                <th>Fisico</th>
                <th>Diferencia</th>
            </tr>
        </thead>
        <!-- START inventario -->
        <tr>
            <td>
                {linea}
            </td>
            <td>
                {proveedor}
            </td>
            <td>
                <span class="t_{linea}{proveedor}">{stock}</span>
            </td>
            <td>
                <input type="text" class="f_{linea}{proveedor}" value="0" onchange="difHandler(event, '{linea}{proveedor}');" />
            </td>
            <td>
                <span class="d_{linea}{proveedor}"></span>
            </td>
        </tr>
        <!-- END inventario -->
    </table>
</div>